<mat-card class="course-card">
    <mat-grid-list cols="5" rowHeight="230px">
  
        <mat-grid-tile
        [rowspan]="1"
        [colspan]="2"
        >
        <div style="background-image: url({{course.image}});" class="course-image"></div> 
        </mat-grid-tile>

      <mat-grid-tile
      [rowspan]="1"
      [colspan]="3"
      class="course-detail-tile"
      >
          <div class="course-description">
              <h3 class="course-title">{{course.name}}</h3>
              <p class="course-desc-p">
              {{ course.description.length > 250?  (course.description | slice:0:250) + '...' : course.description}}
              </p>
  
          </div>
          <div class="course-action">
            <a routerLink="/classrooms/course/{{course.id}}">
                <button class="launch-course-btn" mat-raised-button type="button">Launch</button>
            </a>
              
          </div>
      </mat-grid-tile>
  
  
    </mat-grid-list>
  </mat-card>