.course-card{
    text-align: center;
    width: 300px;
    height: 200px;
    z-index: 1;
    border-radius: 0px;
    background-color: #001528;
    box-shadow: 0 0 0 0 !important;
    margin-bottom: 25px;
    color: white;
    transition: ease-in-out .3s;
}

.course-card:hover{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5) !important;
    
}

.course-card-icons{
    font-size: 50px; 
    color: #5f6668;
    transition: ease-in-out .3s;
}

.course-card:hover .course-card-icons{
    background-color: fuchsia;
    color: white;
    border-radius: 8px;
}


.course-card mat-card-header mat-card-title{
    text-align: center;
    width: 100%;
}

.course-card mat-card-actions{
    text-align: left;

}
