<mat-card class="course-card"> 
   <div style="background-image: url({{course.image}});" class="course-image"></div> 

    <mat-card-content>
        <h3 class="course-title">{{course.name}}</h3>
        <div class="underline"></div>
        <div class="course-description">{{ course.description.length > 150?  (course.description | slice:0:150) + '...' : course.description}}</div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Launch</button>
    </mat-card-actions>
</mat-card>