.course-list{
    display: flex;
}

.course-list .handle-title{
    margin-bottom: 30px;
}

.underline{
    content: "";
    width: 70px;
    border: 2px solid dodgerblue;
    margin-top: -15px;
}


.course-list > .grid-courses{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex:3;
    margin-right: 50px;
}


.course-list > div .course-item{
    margin-right: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.pedagogical-team{
    flex: 1;
    margin-top: 20px;
}