.course-list{
    display: flex;
    flex-direction: column;
}

.course-list > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.course-list > div .course-item{
    margin-right: 20px;
    flex:1;
}

/*
.course-list > div .course-item:last-child{
    margin-right: 0px;
}
*/