<section class="testimonials-box">
    <h1>LS SMS reviews</h1>

    <div class="testimonials">

        <div class="testimonial-card">
            <div class="layer"></div>
            <div class="content">
                <p>I love LS SMS. We had a lot of difficulty to manage our schools 
                    system and we have a lot of students. 
                    With LS SMS, we are able to gather our schooling data in a 
                    centered lace and have even the possiblity to make online 
                    learning a reality in our school.
                </p>
                <div class="avatar">
                    <img src="assets/avatars/user1.jpg" alt="User 1">
                </div>
                <div class="user-details">
                    <h2>John Doe <br><span>School Director</span></h2>
                </div>
            </div>
        </div>

        <div class="testimonial-card">
            <div class="layer"></div>

            <div class="content">
                <p>I love LS SMS. We had a lot of difficulty to manage our schools 
                    system and we have a lot of students. 
                    With LS SMS, we are able to gather our schooling data in a 
                    centered lace and have even the possiblity to make online 
                    learning a reality in our school.
                </p>
                <div class="avatar">
                    <img src="assets/avatars/user2.png" alt="User 2">
                </div>
                <div class="user-details">
                    <h2>Wisner Celucus <br><span>Teacher</span></h2>
                </div>
            </div>
        </div>

        <div class="testimonial-card">
            <div class="layer"></div>

            <div class="content">
                <p>I love LS SMS. We had a lot of difficulty to manage our schools 
                    system and we have a lot of students. 
                    With LS SMS, we are able to gather our schooling data in a 
                    centered lace and have even the possiblity to make online 
                    learning a reality in our school.
                </p>
                <div class="avatar">
                    <img src="assets/avatars/user3.jpg" alt="User 3">
                </div>
                <div class="user-details">
                    <h2>Fara Jeanbart <br><span>Student</span></h2>
                </div>
            </div>

        </div>

    </div>
</section>
