<section class="mellestone-overview-section">
    <div class="column-left">

    <div class="welcome-module-overview">
        <h1>Welcome to MillestoneName</h1>
        <p>Millestone notes</p>
    </div>

    <div class="module-overview">
        <div class="module-overview-menu">
            <h1>Overview</h1>
            <app-course-module-menu></app-course-module-menu> 
        </div>
    </div>


    <div class="launche-week-discussion-box">
        <h1>Discussion Assignment</h1>

        <div class="discussion-detail">
            <div class="handle-discussion-detail">
                <p>Find out discussion assignment about ModuleName. Reply to assignment or publish a subject. It is mandatory to respond to the discussion assigned by the intructor.</p>
                <div class="detail-stats">
                    <span>
                        1 post by the instructor
                    </span>

                    <span>
                        9 posts from peers
                    </span>
                    <span>Due date</span>
                </div>
            </div>

            <button class="goto-discussion-forum-btn" mat-raised-button>Go to discussions</button>
            
        </div>
    </div>

    <div class="module-ressource-overview">

        <h1>Ressources</h1>

        <p>Books, articles or video that complte the course</p>

    </div>
    
</div>

<div class="column-right">
    <div class="pedagogical-team">
        
        <div class="handle-title">
            <h3>Pedagogical Team</h3>
            <div class="underline"></div>
        </div>

        <div class="row">
            <div class="class-moderators">
                <app-moderators></app-moderators>
            </div>
        </div>

    </div>
</div>

</section>
