    <div class="user-activities" *ngIf="!dataSource">
    Loading...
    </div>

    <div class="user-activities" *ngIf="dataSource">
            <mat-card class="post-card" *ngFor="let post of dataSource; let i = index">
                <mat-card-header>
                        <div mat-card-avatar class="card-header-image">
                            <img class="avatar-xs-card" [src]="post.user.image" alt="{{ 'Photo of ' + post.user.username }}">
                        </div>
                    <mat-card-title><a class="user-link" (click)="getUserData(post.user.username)">{{ post.user.first_name + ' ' + post.user.last_name }}</a></mat-card-title>
                    <mat-card-subtitle>Developer &middot; {{ post.timesince}}</mat-card-subtitle>
                        <button class="post-sub-menu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Post sub-menu">
                        <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>create</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>security</mat-icon>
                            <span>Change privacy</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>report</mat-icon>
                            <span>Report this post</span>
                        </button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item>
                            <mat-icon>delete_outline</mat-icon>
                            <span>Delete</span>
                        </button>
                        </mat-menu>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{post.content}}
                    </p>
                <img mat-card-image *ngIf="post.image" [src]="post.image" alt="post.id">
                    <div class="post-stat" id="{{'post'+ post.id}}">
                        <span>{{ post.likes + ' ' }}Likes</span>
                        <span>{{ post.total_comments + ' ' }}Comments</span>
                    </div>
                </mat-card-content>
                
                <mat-divider></mat-divider>
                <mat-card-actions>
                    <button id="{{'post-like-button'+ post.id}}" [class]="post.did_like? 'did_like': '' " mat-button [matMenuTriggerFor]="aboveMenu"><fa-icon [icon]="faThumbsUp"></fa-icon> Like</button>
                    <mat-menu #aboveMenu="matMenu" yPosition="above">
                        <span class="reaction" mat-menu-item>
                            <button (click) = "onLikePost(post.id)" mat-button><fa-icon [icon]="faThumbsUp"></fa-icon> </button>
                            <button mat-button><fa-icon [icon]="faSmile"></fa-icon> </button>
                            <button mat-button><fa-icon [icon]="faHeart"></fa-icon> </button>
                        </span>
                    </mat-menu>
                    <button mat-button (click)="onToggleCommentForm('comment-form' + i)"><fa-icon [icon]="faComment"></fa-icon> Comment</button>
                    <button mat-button><fa-icon [icon]="faShareAltSquare"></fa-icon> Share</button>
                </mat-card-actions>

                <div class="comment-form-handler hide" id = "{{ 'comment-form' + i }}">
                    <form class="comment-form" (ngSubmit)="submitComment(f1)" #f1="ngForm">
                        <div class="form-row">
                        <div mat-card-avatar class="comment-user-avatar">
                            <img *ngIf="loginUser" class="avatar-xs-card-comment" [src]="loginUser.image" alt="{{loginUser.username}}}">
                        </div>
                        <input type="hidden" ngModel = "post" name='content_type' ngValue='post'>
                        <input type="hidden" [ngModel] = "post.id" name='object_id' [value]="post.id">
                        <mat-form-field class="comment-form-content-box">
                            <textarea id="{{'comment-content' + i}}" (click)="rezizable('comment-content' + i)" name="content" ngModel matInput placeholder="Leave a comment..."></textarea>    
                        </mat-form-field>  
                            <!--<textarea class="comment-input" placeholder="Ex. It makes me feel..." name="commentValue" #commentInput></textarea>-->

                        <button class="post-comment" type="submit"
                             matRipple
                            [matRippleCentered]="centered"
                            [matRippleDisabled]="disabled"
                            [matRippleUnbounded]="unbounded"
                            [matRippleRadius]="radius"
                            [matRippleColor]="color"
                        >
                            <span class="material-icons">arrow_forward_ios</span>
                        </button>
                        </div>
                    </form>
                </div>

                <div class="wrap-comment" *ngIf="post.total_comments">
                    <div class="comment-thread" *ngFor="let comment of post.comments; let j = index">
                        <div class class="comment-box">
                            <div class="comment-content-box">
                                <div mat-card-avatar class="comment-user-avatar">
                                    <img class="avatar-xs-card-comment" *ngIf="tenantUrl" src="{{ tenantUrl + comment.user.image }}" alt="Photo of a Shiba Inu">
                                </div>
                                <p class="comment-text">
                                <a class="user-link" (click)="getUserData(comment.user.username)"> <span class="comment-user">{{ comment.user.first_name + ' ' + comment.user.last_name }}</span></a>
                                <br>
                                {{comment.content}}
                                </p>
                            </div>
                            <div class="comment-actions">
                                <button mat-button>Like</button>
                                <button mat-button (click)="onToggleCommentForm('comment-form' + i + j)">Reply</button>
                            </div>

                            <div class="comment-form-handler comment-reply-form-handler hide" id="{{'comment-form' + i + j}}">
                                <form class="comment-form" (ngSubmit)="submitComment(f2)" #f2="ngForm">
                                    <div class="form-row">
                                    <div mat-card-avatar class="comment-user-avatar">
                                        <img *ngIf="loginUser" class="avatar-xs-card-comment" [src]="loginUser.image" alt="{{loginUser.username}}}">
                                    </div>
                                    <input type="hidden" [ngModel] = "comment.id" name='parent_id'>
                                    <input type="hidden" ngModel = "post" name='content_type'>
                                    <input type="hidden" [ngModel] = "post.id" name='object_id'>
                                    <mat-form-field class="comment-form-content-box">
                                        <textarea id="{{'comment-content' + i + j}}" (click)="rezizable('comment-content' + i + j)" name="content" ngModel matInput placeholder="Leave a reply..."></textarea>    
                                    </mat-form-field>  
                                        <!--<textarea class="comment-input" placeholder="Ex. It makes me feel..." name="commentValue" #commentInput></textarea>-->

                                    <button class="post-comment" type="submit"
                                        matRipple
                                        [matRippleCentered]="centered"
                                        [matRippleDisabled]="disabled"
                                        [matRippleUnbounded]="unbounded"
                                        [matRippleRadius]="radius"
                                        [matRippleColor]="color"
                                    >
                                        <span class="material-icons">arrow_forward_ios</span>
                                    </button>
                                    </div>
                                </form>
                            </div>


                        </div>

                        <div class="wrap-inner-comment"  *ngIf="comment.reply_count">
                            <div class="inner-comment-thread" *ngFor="let reply of comment.replies; let k = index">
                        
                                <div class class="comment-box">
                                    <div class="comment-content-box">
                                        <div mat-card-avatar class="comment-user-avatar">
                                            <img class="avatar-xs-card-comment" *ngIf="tenantUrl" src="{{ tenantUrl + reply.user.image }}" alt="Photo of a Shiba Inu">
                                         </div>
                                    <p class="comment-text">
                                    <a class="user-link" (click)="getUserData(reply.user.username)"> <span class="comment-user">{{ reply.user.first_name + ' ' + reply.user.last_name }}</span></a>
                                    <br>
                                    {{reply.content}}
                                    </p>
                                </div>
                                <div class="comment-actions">
                                    <button mat-button>Like</button>
                                    <button (click)="onToggleCommentForm('comment-form' + i + j + k)" mat-button>Reply</button>
                                </div>

                            <div id="{{'comment-form' + i + j + k }}" class="comment-form-handler comment-reply-form-handler hide">
                                <form class="comment-form" (ngSubmit)="submitComment(f3)" #f3="ngForm">
                                    <div class="form-row">
                                    <div mat-card-avatar class="comment-user-avatar">
                                        <img *ngIf="loginUser" class="avatar-xs-card-comment" [src]="loginUser.image" alt="{{loginUser.username}}}">
                                    </div>
                                    <input type="hidden" [ngModel] = "comment.id" name='parent_id'>
                                    <input type="hidden" ngModel = "post" name='content_type'>
                                    <input type="hidden" [ngModel] = "post.id" name='object_id'>
                                    <mat-form-field class="comment-form-content-box">
                                        <textarea id="{{'comment-content' + i + j + k}}" (click)="rezizable('comment-content' + i + j + k)" name="content" ngModel matInput placeholder="Leave a reply..."></textarea>    
                                    </mat-form-field>  
                                        <!--<textarea class="comment-input" placeholder="Ex. It makes me feel..." name="commentValue" #commentInput></textarea>-->

                                    <button class="post-comment" type="submit"
                                        matRipple
                                        [matRippleCentered]="centered"
                                        [matRippleDisabled]="disabled"
                                        [matRippleUnbounded]="unbounded"
                                        [matRippleRadius]="radius"
                                        [matRippleColor]="color"
                                    >
                                        <span class="material-icons">arrow_forward_ios</span>
                                    </button>
                                    </div>
                                </form>
                            </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </mat-card>
     </div>

<script>

    const ele = document.getElementById('commentDiv');
    const placeholder = ele.getAttribute('data-placeholder');

    // Set the placeholder as initial content if it's empty
    (ele.innerHTML === '') && (ele.innerHTML = placeholder);

    ele.addEventListener('focus', function(e) {
        const value = e.target.innerHTML;
        value === placeholder && (e.target.innerHTML = '');
    });

    ele.addEventListener('blur', function(e) {
        const value = e.target.innerHTML;
        value === '' && (e.target.innerHTML = placeholder);
    });
</script>
