<mat-card class="side-menu-card">
    <mat-card-header>

        <mat-card-title>Course Name</mat-card-title>
        <mat-card-subtitle class="user-title">Term</mat-card-subtitle>

    </mat-card-header>

    <mat-card-content>
            <ul>
                <li class="mellestones-list">
                    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                          <button mat-icon-button disabled></button>
                          <mat-checkbox class="checklist-leaf-node"
                                        [checked]="checklistSelection.isSelected(node)"
                                        (change)="todoLeafItemSelectionToggle(node)"></mat-checkbox>
                                        <a routerLink="/classrooms/course/2/week"><span class="node-text">{{node.item}}</span></a>
                        </mat-tree-node>
                      
                        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                          <button mat-icon-button matTreeNodeToggle
                                  [attr.aria-label]="'toggle ' + node.filename">
                            <mat-icon class="mat-icon-rtl-mirror">
                              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                          </button>
                          <mat-checkbox [checked]="descendantsAllSelected(node)"
                                        [indeterminate]="descendantsPartiallySelected(node)"
                                        (change)="todoItemSelectionToggle(node)"></mat-checkbox>
                                        <span class="node-text">{{node.item}}</span>
                        </mat-tree-node>
                      </mat-tree>



                </li>
                <br>
                <mat-divider></mat-divider>
                <br>
                <li (click)="navigateTo('/feed')"><a class="nav-link margin-left" (click)="navigateTo('/feed')"><fa-icon [icon]="faComment"></fa-icon> Messages</a></li>



                <!--<li (click)="navigateTo('/feed')"><a class="nav-link" (click)="navigateTo('/feed')"><fa-icon [icon]="faHome"></fa-icon> </a></li>
                <li (click)="navigateTo('/forums')"><a class="nav-link" (click)="navigateTo('/forums')"><fa-icon [icon]="faComments"></fa-icon> Forums</a></li>
                <li (click)="navigateTo('/accounts')"><a class="nav-link" (click)="navigateTo('/accounts')"><fa-icon [icon]="faUser"></fa-icon> Profile</a></li>
                <li><a class="nav-link" href="javascript:void(0)"><fa-icon [icon]="faShareAltSquare"></fa-icon> Posts and shares</a></li>
                <li><a class="nav-link" href="javascript:void(0)"><fa-icon [icon]="faHeart"></fa-icon> Likes and replies</a></li>
                <mat-divider></mat-divider>
                <li (click)="navigateTo('/accounts/all')"><a class="nav-link" (click)="navigateTo('/accounts/all')">Followers</a></li>
                <li (click)="navigateTo('/accounts/all')"><a class="nav-link" (click)="navigateTo('/accounts/all')">Following</a></li>
                 <mat-divider></mat-divider>
                <li (click)="navigateTo('/accounts/groups')"><a class="nav-link" (click)="navigateTo('/accounts/groups')"><fa-icon [icon]="faUsers"></fa-icon> Groups</a></li>
                <li (click)="navigateTo('/accounts/all')"><a class="nav-link" (click)="navigateTo('/accounts/all')"><fa-icon [icon]="faUserCircle"></fa-icon> Users</a></li>-->
            </ul>
    </mat-card-content>

</mat-card>
