<section class="sylabus-detail">


<h2>Module 1  Indices and Surds</h2>
<ul>
    <li>Understand and use the laws of indices for all rational exponents.</li>
    <li>Use and manipulate surds, including rationalising the denominator.</li>
    <li>Solve a variety of problems that include surds and indices.</li>
</ul>

<h2>Module 2  Inequalities</h2> 
<ul>
    <li>Solve linear and quadratic inequalities in a single variable and interpret these solutions graphically.</li>
    <li>Express the solutions to linear and quadratic inequalities using number lines and inequality notation, using the terms ‘and’ and ‘or’ and set notation.</li>
    <li>Represent linear and quadratic inequalities in two variables graphically using standard A level conventions.</li>
</ul>

<h2>Module 3  The Factor Theorem & Algebraic Division</h2>

<ul>
    <li>polynomials algebraically, using the factor theorem to write a polynomial as the product of linear factors or a combination of linear and quadratic factors.</li> 
    <li>Divide one polynomial by another of a lower order by equating coefficients.</li>
</ul>

<h2>
Module 4  Coordinate Geometry 
</h2>

<ul>
    <li>Solve problems using the coordinate geometry of the circle.</li>
    <li>Complete the square to find the centre and radius of a circle from its equation.</li>
    <li>Solve problems using the properties of the angle in a semicircle, the perpendicular from the centre of a circle to a chord and a tangent to the circle from a point.</li>
</ul>

    <h2>
    Module 5  Standard Graph and Graphical transformation
    </h2>
<ul>
    <li>Use curve sketching techniques based on the the shapes and symmetries of standard curves.</li>
    <li>Transform curves by translations, reflections and stretches.</li>
    <li>Identify and locate the key features of a curve from its equation and by sketching the curve.</li>
    <li>Transform the equations of linear, quadratic, rational and trigonometrical curves using translations, rotations and stretches.</li>
</ul>

<h2>
Module 6  Mechanics
</h2>

<ul>
    <li>Interpret and use the term distance, speed, displacement, velocity, and acceleration accurately.</li>
    <li>Interpret graphs to do with speed against time, distance against time, velocity against time and acceleration against time (including gradients and areas), and solve problems involving motion in a straight line with constant acceleration.</li>
    <li>Derive the formulae for constant acceleration and use these to solve problems involving motion in a straight line.</li>
</ul>

<h2>
Module 7  Statistical Sampling
</h2>
<ul>
    <li>Understand the ideas of a population and a sample and use simple sampling techniques to draw informal inferences about populations.</li>
    <li>Apply critical thinking to issues of representative sampling.</li>
    <li>Interpret histograms to draw informal inferences about univariate data.</li>
    <li>Interpret scatter diagrams, regression lines and the ideas of correlation to draw informal inferences about bivariate data.</li>
    <li>To download the full course syllabus pdf file, click on this link.</li>
</ul>

<h1>
Types of Assessment
</h1>
<p>
Each week is like an interactive textbook consisting of videos, regular exercises, check points, assessments and other very interesting and engaging investigation activities. We encourage you to complete all the problems and questions in every section as they are designed to help you to developing the key skills, fluency and confidence to aim for an A* in A level Mathematics. 
</p>
<p>
Below are the three types of assessment which are graded in this course. The scores you've received will contribute to your final course grade.
</p>
<table>
    <tr>
    <th>Types of Assessment</th>

    <th>Weightage in Total Grade</th>

    <th>Grading</th>

    <th>Due Date</th>
</tr>
<tr>
<td>✎ Exercise</td>

<td>45%</td>
<td>Auto-graded</td>
<td>Self-pace</td>
</tr>

Auto-graded
 Self-pace 

 <tr>
<td>⚑ Check Point</td>

<td>10%</td>

<td>Auto-graded</td>
<td>Self-pace</td>
</tr>

<tr>
<td>
 ★ Assessment
</td>

<td>45%</td>
<td>Auto-graded</td>
<td>Self-pace </td>

</tr>
</table>

<h1>
Exercise
</h1>
<p>
Ensure that you complete the Exercises (✎).  You can attempt each problem as many times as you like.
</p>

<p>
These exercises are designed to help you hone your skills and put the new knowledge you have gained into practice and as such are not assessed.
They are embedded within the course content so you can easily access supporting material and guidance if you need to check your learning.
</p>

<h1>
 Check Point
</h1>

<p>
In this course, you will encounter some sections called Check Point with a flag sign (⚑). 
</p>

<p>
You can attempt each question as many times as you like.
</p>

<p>
These check point questions are a great opportunity for you to reflect on yourself how effectively you have grasped new ideas and concepts. 
</p>
<p>
You will need to answer the questions in order to proceed to the next section. 
</p>
<h1>
  Assessment
</h1>
<p>
Finally, you will have the chance to complete the course by undertaking the 3 Assessments. They are all marked with a star sign (★).
</p>
<p>
You can attempt each problem only twice.
</p>
<p>
These assessments will contain similar questions to those found in the 'Exercise'. We strongly recommend that you complete all the 'Exercise' before embarking on the 3 assessments. 
</p>
<p>
This will ensure that you feel sufficiently prepared!
</p>

</section>