<app-min-banner [bannerText]="bannerText"></app-min-banner>
<section class="password-reset-confirm">
    <h1>Add new password</h1>
    <div class="box">

        <p>Please enter a strong password.</p>
        <p>A strong password should: </p>
        <ul>
            <li>Have at least 8 characters.</li>
            <li>Contain special characters like: *&/.@...</li>
            <li>Contain a combination of numbers and letters</li>
        </ul>


        <app-alert-dialog *ngIf="errorMessage" 
            [message]="errorMessage" 
            (close)="onHandleError()">
        </app-alert-dialog>

        <app-alert-dialog *ngIf="successMessage" 
            [message]="successMessage" 
            (close)="onHandleSuccess()">
        </app-alert-dialog>

        <form #f="ngForm"
            (ngSubmit)="onSubmit(f)"
        >

            <mat-form-field>
            <input
                type="password"
                matInput
                placeholder="Your new password"
                name="password"
                required
                ngModel
                [disabled]="!tokeIsvalid">
            <mat-hint>Please enter your new password.</mat-hint>
            <mat-error>Missing new password.</mat-error>
            </mat-form-field>

            <mat-form-field>
            <input
                type="password"
                matInput
                placeholder="Retype new password"
                name="passwordConfirm"
                required
                ngModel
                [disabled]="!tokeIsvalid"
                >
            <mat-hint>Please enter the same new password.</mat-hint>
            <mat-error>Missing new password confirmation.</mat-error>
            </mat-form-field>

            <button mat-raised-button [disabled]="!tokeIsvalid || !f.valid" type="submit">Submit</button>

        </form>

    </div>

</section>
