.password-reset-confirm{
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;
}

.password-reset-confirm .box{
    display: flex;
    flex-direction: column;
    width: min(360px, 98%);
    padding: 12px;
    padding-top: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.password-reset-confirm .box p:first-child{
    margin-bottom: 30px;
    text-align: center;
    color: dodgerblue;
    font-size: 16px;
}

.password-reset-confirm h1{
    color: dodgerblue;
    margin-bottom: 40px;
    font-size: 30px;
}

.password-reset-confirm .box form{
    display: flex;
    flex-direction: column;
}

.password-reset-confirm .box form ul{
    margin-bottom: 30px;
}

.password-reset-confirm .box form mat-form-field{

    margin-bottom: 30px;
}

.password-reset-confirm .box form mat-form-field:last-child{

    margin-bottom: 30px;
}

.password-reset-confirm .box form button{
    background-color: dodgerblue;
    color: white;
    margin-bottom: 20px;
}