<section class="course-detail-section">
    <mat-tab-group animationDuration="0ms">

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">local_library</mat-icon>
                <span class="tab-title">
                    Course
                </span>
            </ng-template>

            <div class="course-overview">
                <app-course-overview></app-course-overview>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">description</mat-icon>
              <span class="tab-title">
                Course syllabus
              </span>
            </ng-template>

            <div class="course-sylabus">
                <app-course-syllabus></app-course-syllabus>
            </div>

        </mat-tab>


        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">forum</mat-icon>
                <span class="tab-title">
                Course discussion
                </span>
            </ng-template>

            <div class="course-discussion">
                <app-course-discussion></app-course-discussion>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">note</mat-icon>
                <span class="tab-title">
                Student's notes
                </span>
            </ng-template>
            <div class="student-note">
                <app-student-notes></app-student-notes>
            </div>
            
        </mat-tab>        


        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">poll</mat-icon>
              <span class="tab-title">
                Course stats
              </span>
            </ng-template>

            <div class="student-stats">
                <app-student-stats></app-student-stats>
            </div>

        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">history_edu</mat-icon>
                <span class="tab-title">
                Wiki
                </span>
            </ng-template>

            <div class="course-wiki">
                <app-course-wiki></app-course-wiki>
            </div>
            
        </mat-tab>

      </mat-tab-group>
</section>
