.course-detail-section{
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
}

.tab-icon{
    color: #101010 !important;
}

.tab-title{
    color: #101010 !important;
    margin-left:8px;
    font-size: 20px;
}

.course-sylabus{
    background-color: rgb(255, 255, 255);
    width: 1000px;
    max-width: 1000px;
    margin: 0 auto;
}

.course-wiki{
    background-color: rgb(255, 255, 255); 
    width: 1000px;
    max-width: 1000px;
    margin: 0 auto;
}