  <section id="contact" class="contact">
    
      <h1 class="contact-title">Contact Us</h1>
      <div class="underline"></div>
      <div class="wrap-contact"> 
      <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
          <mat-panel-title>
              {{ 
                panelOpenState ? 
              
                'Click to hide the contact form' : 
              
                'Click to reveal the contact form'
              }}
          </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="contact-directive">Fill and submit the form to contact us</p>
          <form
            class="form-contact"
          >
          <div class="group-fields">
            <mat-form-field>
              <mat-label>First name</mat-label>
              <input matInput>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Last name</mat-label>
              <input matInput>
            </mat-form-field>
          </div>

          <div class="group-fields">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Country</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <mat-form-field>
            <mat-label>Message</mat-label>
            <textarea matInput placeholder="Ex. I need help with..."></textarea>
          </mat-form-field>
          <button class="send-message-btn" type="submit" mat-raised-button>Send</button>
      </form>
      </mat-expansion-panel>
    </div>
</section>

