<section class="post-detail">
    <div class="side-profile-menu-left">
    <app-feed-side-menu></app-feed-side-menu>
    </div>

    <div class="main-content" *ngIf="post">
        <mat-card class="post-card">
            <app-post-item [post]="post" [loginUser]="loginUser" [tenantUrl]="tenantUrl"></app-post-item> 
        </mat-card>   
    </div>

    <div class="side-profile-menu-right">
        <app-users-suggestions></app-users-suggestions>
        <br>
        <app-groups-suggestions></app-groups-suggestions>
        <br>
        <app-feed-copyright></app-feed-copyright>
    </div>

</section>
