<section class="feed">
    <div class="side-profile-menu-left">
    <app-feed-side-menu></app-feed-side-menu>
    </div>

    <div class="main-content">

        <div class="publish-form">
          <mat-card>
            <mat-card-content>
                <mat-tab-group>
                    <mat-tab label="Say something?">
                        <form class="post-form">
                            <mat-form-field class="post-full-width">
                                <mat-label>Post something to your timeline</mat-label>
                                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                            </mat-form-field>
                            <button class="publish" mat-raised-button type="submit">Post</button>
                        </form>
                    </mat-tab>
                    <mat-tab label="Poll"> 
                        <form class="poll-form" 
                        [formGroup]="pollForm"
                        (ngSubmit)="onSubmit()"
                        >
                            <mat-form-field class="poll-full-width">

                                <mat-label>Ask a question?</mat-label>
                                <textarea matInput 
                                formControlName="question" 
                                placeholder="Ex. what best between...?">
                                </textarea>
            
                            </mat-form-field>

                            <mat-form-field class="poll-full-width">
                                <mat-label>Option</mat-label>
                                <input matInput 
                                    formControlName="option1" 
                                    placeholder="Ex. Python">
                            </mat-form-field>

                            <mat-form-field class="poll-full-width">
                                <mat-label>Option</mat-label>
                                <input matInput
                                    formControlName="option2"
                                    placeholder="Ex. PHP">
                            </mat-form-field>

                            <div class="options-added" formArrayName="optionsAdded">
                                <div class="form-group" 
                                *ngFor="let optionCtrl of controls; let i = index" 
                                [formGroupName]="i"
                                >
                                <mat-form-field class="poll-full-width">
                                    <mat-label>Option</mat-label>
                                    <input matInput class="inputAdded"
                                        formControlName="option"
                                        placeholder="Ex. PHP">
                                </mat-form-field>
                                <button class="option-remove-btn"
                                type="button" 
                                mat-raised-button
                                (click)="onRemoveOption(i)"
                                ><fa-icon [icon]="faMinusSquare"></fa-icon> Remove</button>
                                </div>
                            </div>

                            <button 
                                class="add-option" 
                                mat-raised-button 
                                type="button"
                                (click)="onAddOption()"
                                ><fa-icon [icon]="faPlus"></fa-icon> Add option</button>
                            
                            <button class="publish" mat-raised-button type="submit">Ask</button>
                        </form>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
          </mat-card>
        </div>
        <br>
        
        <app-feed-timeline></app-feed-timeline>

    </div>

    <div class="side-profile-menu-right">
        <app-users-suggestions></app-users-suggestions>
        <br>
        <app-groups-suggestions></app-groups-suggestions>
        <br>
        <app-feed-copyright></app-feed-copyright>
    </div>

</section>

