.course-overview{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.course-overview .side-menu-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 12px;
}

.course-overview .main-overview{
    flex: 3;
    margin-left: 20px;
}


