<mat-card class="term-detail-card">
    <mat-card-content> 
        <div class="term-description">
                <h1>Context </h1>
                <p>
                Most of the population in the city of Cap-Haitian and its surrounding districts are living without access to clean water as a direct consequence of the growing density of the city of Cap Haitian and the dysfunction of the urban water distribution network. Some water points available in the surrounding area are at full capacity, not able to produce enough water to meet the population needs with a daily demand exceeding 250 people a day. The existing water points are equipped with hand pumps which makes the service very slow. 
                The Inter-American Development Bank (IDB) is funding a project for the update of the water network in the Great North of Haiti (Nord-Nord’Est-Nord’Ouest), which includes the city of Cap Haitian. However, due to topography conditions in the area, not all communities in Cap Haitian will have access to the water distribution network to be built. To address this issue, Living Water International (LWI) Haiti has been granted funding from U.S. Agency for International Development (USAID) via Development Alternative, Inc. (DAI) to facilitate an alternate distribution system for the population that will not be covered by the main water distribution system. The USAID Water and Sanitation Project implemented by DAI Global, LLC, has the primary goal to reduce the prevalence of cholera and other waterborne diseases by laying the foundation for a long-term, sustained effort to increase access to safe drinking water and sanitation in Haiti.
                2	Project Background
                </p>
                <p>
                The project  “DLO PWOP YON BON BIZINIS POU LAVI” sought to contribute to the USAID Water and Sanitation Project Annual Program Statement Objective 1 (Increasing access to sustainable water supply service) and Objective 3 (Strengthening and enabling an environment for sustainable delivery, operation and maintenance of WASH services) by providing communities with an innovative solution to improve their pumping system, water treatment and storage capacity, as well as improving the management capacity and business skills of water management structures.
                Purpose of the Award: To increase water access to 5,010 households by improving water kiosks identified in coordination with OREPA in the urban area of Cap-Haitian.
                </p>
                <h2>
                Specific Objectives:
                </h2>
                <ul>
                    <li>Improved distribution to 25,050 people in twelve communities located in the periphery of the city of Cap Haitian.</li>
                    <li>Increased capacity of twelve (12) water management structures to operate, maintain and manage water services within a water-market approach by the end of the project.</li>
                    <li>Twelve (12) water kiosks improved, to be identified by OREPA.</li>
                </ul>

                <h3>Expected Outcomes:</h3>
                <ul>
                ­	<li>Twelve (12) water reservoirs are installed.</li>
                ­	<li>Twelve (12) photovoltaic pumping systems are installed.</li>
                ­	<li>Twelve (12) water chlorination units are in place and fully functional.</li>
                ­	<li>Twelve (12) water distribution kiosks with lighting system are fully operational.</li>
                ­	<li>Twelve (12) water meters are installed.</li>
                ­	<li>Twelve (12) Private operators are organized and trained.</li>
                ­	<li>Twenty-five thousand and fifty (25,050) people with increased access to sustainable and safe water.</li>
                </ul>
                <p>
                Execution Period: December 1st, 2019 - July 30th, 2020 (originally scheduled to end June 30th; however, a one-month no cost extension was provided).
                Using a participatory approach, Living Water International (LWI) implemented the project to support private water suppliers within the poorest neighborhoods of Cap-Haitian such as Sainte Philomène, Cité du Peuple, Cité Chovel, Rue 19 Champs de Mars, etc. For the execution of the project, nine (9) milestones were defined, each with their deliverables. This report aims to document the activities implemented per milestone and results of the project.
                </p>
        </div>
    </mat-card-content>

</mat-card>
