<ul class="menu-list">
    <li><a routerLink="/classrooms/course/2/week/module/lesson/lesson-1"><span class="node-text">Introduction</span></a></li>
    <li><a routerLink="/classrooms/course/2/week/module/lesson/lesson-1"><span class="node-text">History of taxonomy</span></a></li>
    <li><a routerLink="/classrooms/course/2/week/module/lesson/lesson-1"><span class="node-text">Taxon: in depth</span></a></li>
    <li><a routerLink="/classrooms/course/2/week/module/lesson/lesson-1"><span class="node-text">Quiz 1</span></a></li>
</ul>


