.password-reset{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
    background-color: #f1f1f1;
}

.password-reset .wrap-box{
    display: flex;
    flex-direction: column;
    width: min(360px, 98%);
    padding: 12px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.password-reset .wrap-box p:first-child{
    margin-bottom: 30px;
    text-align: center;
    color: dodgerblue;
    font-size: 16px;
}

.password-reset h1{
    color: dodgerblue;
    margin-bottom: 40px;
    font-size: 30px;
}

.password-reset .wrap-box form{
    display: flex;
    flex-direction: column;
}

.password-reset .wrap-box form .actions{
    display: flex;
    flex-wrap: wrap;
}
.password-reset .wrap-box form .actions .proceed-btn,
.password-reset .wrap-box form .actions .cancel-btn
 {
    margin: 4px;
    flex:1;
}
.password-reset .wrap-box form .actions .proceed-btn{
    background-color:dodgerblue;
    color: white;
}

.password-reset .wrap-box form .actions .cancel-btn{
    background-color: #fff;
}