<section class="password-reset">

    <h1>Forgot your password?</h1>

    <div class="wrap-box">
        <p>Need help to log in?</p>
        <p>Please enter your email to reset your password.</p>
        <form 
            (ngSubmit)="onSubmit(f)" #f="ngForm"
            class="reset-password-form"
            >
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input type="email" 
                    matInput 
                    placeholder="Ex. example@domain.ext" 
                    ngModel 
                    name="email"
                    email
                    required
                    #emailInput="ngModel"
                    class="email-input"
                    >
                    <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid.</mat-error>
                    <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
            </mat-form-field>
            <div class="actions">
            <button type="button" class="cancel-btn" mat-raised-button>Cancel</button> 
            <button type="submit" class="proceed-btn" mat-raised-button>Proceed</button> 
            </div>
        </form>
    </div>

</section>
