.lms-section{
    padding: 70px;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    /*
    background-color: #272953;
    color: white;*/
}

.lms-section .row{
    display: flex;
    width: 100%;
}

.lms-section .row .course-list { 
    width: 100%;
    margin: 0 auto;
}

.lms-section .row  .class-moderators{
    width: 100%;
}


.lms-section .row .calendar-envents{
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 20px;
}

.lms-section .row  .term-overview{
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
}

.tab-icon{
    color: #101010 !important;
}
.tab-title{
    color: #101010 !important;
    margin-left:8px;
    font-size: 20px;
}

