.faq{
    display: flex;
    flex-direction: column;
    background-color: #021e38;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
}

.faq .faq-title{
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}

.underline{
    content: "";
    border: 2px solid dodgerblue;
    width: 100px;
    margin-bottom: 70px;
}
.mat-expansion-panel{
    flex:1;
    width: min(1500px, 98%);
    margin-bottom: 70px;
}

.front-q{
    margin-right: 8px;
}