  <section class="faq">
    <h1 class="faq-title">FAQs</h1>
    <div class="underline"></div>
    <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
            {{  panelOpenState ? 'Click to hide the FAQs' : 'Click to read answers to frequently asked questions' }}
        </mat-panel-title>
        </mat-expansion-panel-header>

            <mat-expansion-panel (opened)="panelOpenState1 = true"
                                (closed)="panelOpenState1 = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="front-q">
                            <strong>Q1</strong>
                        </span> 
                        {{ panelOpenState1 ?  
                            'Can we have to bundle at lower price with increasing number of students?' : 
                            'Can we have to bundle at lower price...' }}
                    </mat-panel-title>  
                </mat-expansion-panel-header>
                    <p class="answer-q">
                        <span class="front-q">
                            <strong>Aws1</strong>
                        </span> 
                        Yes, we have a plan for schools with various size. Please contact the sale's team for detail.
                    </p>
                
        </mat-expansion-panel>  

    </mat-expansion-panel>
</section>