    <div class="user-activities">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image">
                        <img class="avatar-xs-card" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    </div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                    </p>
                </mat-card-content>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                
                <mat-card-actions>
                    <button mat-button [matMenuTriggerFor]="aboveMenu"><fa-icon [icon]="faThumbsUp"></fa-icon> LIKE</button>
                    <mat-menu #aboveMenu="matMenu" yPosition="above">
                        <span class="reaction" mat-menu-item>
                            <button mat-button><fa-icon [icon]="faThumbsUp"></fa-icon> </button>
                            <button mat-button><fa-icon [icon]="faSmile"></fa-icon> </button>
                            <button mat-button><fa-icon [icon]="faHeart"></fa-icon> </button>
                        </span>
                    </mat-menu>
                    <button mat-button><fa-icon [icon]="faComment"></fa-icon> COMMENT</button>
                    <button mat-button><fa-icon [icon]="faShareAltSquare"></fa-icon> SHARE</button>
                </mat-card-actions>
            </mat-card>
                <br>
        <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <img class="avatar-xs-card" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            </div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
            </p>
        </mat-card-content>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-actions>
                    <button mat-button [matMenuTriggerFor]="aboveMenu"><fa-icon [icon]="faThumbsUp"></fa-icon> LIKE</button>
                    <mat-menu #aboveMenu="matMenu" yPosition="above">
                        <span class="reaction" mat-menu-item>
                            <button mat-button><fa-icon [icon]="faThumbsUp"></fa-icon> </button>
                            <button mat-button><fa-icon [icon]="faSmile"></fa-icon> </button>
                            <button mat-button><fa-icon [icon]="faHeart"></fa-icon> </button>
                        </span>
                    </mat-menu>
                    <button mat-button><fa-icon [icon]="faComment"></fa-icon> COMMENT</button>
                    <button mat-button><fa-icon [icon]="faShareAltSquare"></fa-icon> SHARE</button>
                </mat-card-actions>
        </mat-card>
     </div>