<section class="feed">
    <div class="side-profile-menu-left">
    <app-feed-side-menu [loginUser]="loginUser"></app-feed-side-menu>
    </div>

    <div class="main-content">
        <div class="publish-form">
         <mat-accordion class="headers-align">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Smart Forum: Write a question, find help
                </mat-panel-title>
                </mat-expansion-panel-header>
            <mat-card>
            <mat-card-content>
                        <form enctype="multipart/form-data" class="post-form" (ngSubmit)="onSubmitPost(f)" #f="ngForm" #form>
                        
                        <mat-form-field class="full-width">
                            <mat-label>Question headline</mat-label>
                            <input type="text" placeholder="What's your question about?" matInput ngModel name="title" required>
                        </mat-form-field>

                        <mat-form-field class="chip-list">
                            <mat-chip-list #chipList aria-label="Category selection">
                                <mat-chip
                                *ngFor="let category of categories"
                                [selectable]="selectable"
                                [removable]="removable"
                                (removed)="remove(category)">
                                {{category}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input
                                placeholder="Select category"
                                #categoryInput
                                [formControl]="categoryCtrl"
                                [matAutocomplete]="auto"
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                (matChipInputTokenEnd)="add($event)"
                                >
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                                {{category}}
                                </mat-option>
                            </mat-autocomplete>
                            </mat-form-field>

                        <quill-editor id="editor" [styles]="{height: '150px'}" name="content" ngModel></quill-editor>
                        
                            <button class="discard" mat-raised-button type="button">Discard</button>
                            <button class="publish" mat-raised-button type="submit">Ask</button>
                        </form>

            </mat-card-content>
          </mat-card>

            </mat-expansion-panel>
            </mat-accordion>
        </div>
        <br>

        <div class="forums-feed">
        <mat-card>
            <mat-tab-group animationDuration="0ms">
                <mat-tab>
                    <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">rate_review</mat-icon>
                    Contribute
                    </ng-template>
                    <app-question-feed [topicList]="topicList"></app-question-feed>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">topic</mat-icon>
                    Categories
                    </ng-template>
                    <app-category-list></app-category-list>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">groups</mat-icon>
                    Contributors
                    </ng-template>
                    <app-contributors></app-contributors>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
        </div>

    </div>

    <div class="side-profile-menu-right">
        <app-users-suggestions></app-users-suggestions>
        <br>
        <app-groups-suggestions></app-groups-suggestions>
        <br>
        <app-feed-copyright></app-feed-copyright>
    </div>

</section>
