.profile-section{
    padding-top: 70px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;

}

.profile-section .side-profile-menu-left{
    position: fixed;
    flex:1;
    top:70px;
    left: 0;
    bottom: 5px;
    overflow: hidden;
}

.profile-section .side-profile-menu-left:hover{
    overflow-y: scroll;
}


.profile-section .side-profile-menu-right{
    position: fixed;
    flex:1;
    top:70px;
    right: 10px;
}

.profile-section .main-content{
    width: 800px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0px !important;

}
ul li{
    list-style: none;
}

.user-profile-community{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-profile-community a{
    font-size: 14px;
    font-weight: 500;
    color:#494848;
}


.user-profile-community a:first-child{
    margin-right: 20px;
}


.avatar-xs-card{
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

.avatar-xs{
    border-radius: 100%;
    height: 25px;
    width: 25px;
}
.cover-profile{
    height: 225px;
    z-index: 1;
}
.user-profile-image{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-top: -70px !important;
    z-index: 2;
}

.user-profile-detail{
    margin-left: 105px;
    margin-top: -60px;
    box-sizing: border-box;
    padding: 0;
}

.user-profile-detail h1{
    font-size: 18px;
    color: #2c2c2c;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    text-align: left;
}

.user-profile-detail h1 a{
    text-decoration: none;
    color:dodgerblue;

}

.user-profile-bio{
    display: flex;
    flex-direction: column;
}

.user-profile-bio .birth-detail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;  
    margin-top: 10px;  
}

.user-profile-bio .birth-detail span{
  margin-right: 30px;
  font-size: 15px;
  font-weight: 400;
  color:#555454;
}

.user-profile-bio .birth-detail span fa-icon{
    color:#555454;
}

.user-profile-bio .birth-detail span:last-child{
    margin-right: auto;
  }

.user-profile-detail h5{
    font-size: 14px;
    color: #5c5c5c;
    margin-top: 0px !important;
    padding: 0px !important;
    text-align: left;
}


.reaction fa-icon{
    font-size: 20px;
    color: dodgerblue;
    margin-right: 15px;
}

.reaction fa-icon:last-child{
    margin-right: 0px;
}


@media screen and (min-width: 1490px)
and (max-width: 1760px)
{
 .main-content {
     max-width: 650px;
 }

 .side-profile-menu-left,.side-profile-menu-right{
     width: 400px;
 }

}

@media screen and (min-width: 1470px)
and (max-width: 1489px)
{
 .main-content {
     max-width: 650px;
 }

 .side-profile-menu-left,.side-profile-menu-right{
     width: 380px;
 }

}



@media screen and (min-width: 1335px)
and (max-width: 1469px)
{
 .main-content {
     max-width: 650px;
 }

 .side-profile-menu-left,.side-profile-menu-right{
     width: 315px;
 }

}

@media screen and (min-width: 1300px)
and (max-width: 1334px)
{
 .main-content {
     max-width: 650px;
 }

 .side-profile-menu-left,.side-profile-menu-right{
     width: 300px;
 }

}



@media screen and (min-width: 1215px)
and (max-width: 1333px)
{
 .main-content {
     max-width: 650px;
 }

 .side-profile-menu-left,.side-profile-menu-right{
     width: 270px;
 }

}


@media screen and (max-width: 1214px){
    .profile-section{
        flex-direction: column;
    }
    .cover-profile{
        height: 225px;
        z-index: 1;
    }
    .side-profile-menu-left,.side-profile-menu-right{
        display: none;
    }

    .profile-section .main-content{

        margin: 0 auto;
        display: flex;
        max-width: max(300px, 100%);
        flex-direction: column;
    }  

    .news-feed{
        max-width: max( 300px, 100%);
    }

}

@media screen and (max-width: 600px){
    .profile-section{
        flex-direction: column;
    }
    .cover-profile{
        height: 225px;
        z-index: 1;
    }
    .side-profile-menu-left,.side-profile-menu-right{
        display: none;
    }
    .profile-section .main-content{
        margin-left: 5px;
        margin-right: 5px;
        display: flex;
        max-width: max(320px, 100%);
        flex-direction: column;
    }
    .news-feed{
        max-width: max( 300px, 100%);
    }

}


@media screen and (max-width: 359px){
    .user-profile-detail h1{
        font-size: 14px;
    }
    .profile-section .main-content{
        margin-left: 5px;
        margin-right: 5px;
        display: flex;
        max-width: max(300px, 100%);
        flex-direction: column;
    }

    .news-feed{
        max-width: max( 300px, 100%);
    }

}

