.profile-section{
    padding-top: 70px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
a{
    text-decoration: none;
}
.profile-section .side-profile-menu-left{
    flex:1;
}
.side-profile-menu-left .side-menu-card mat-card-header{
    background-color: #fafafa;
    color: #3d3d3d;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.side-profile-menu-left .side-menu-card mat-card-header:hover{
    background-color: #ebe8e8;
    cursor: pointer;
}

ul{
    list-style: none;
    padding: 0px !important;

}
ul li{
    list-style: none;
}

.side-profile-menu-left .side-menu-card mat-card-content ul{
    list-style: none;
}

.side-profile-menu-left .side-menu-card mat-card-content ul li{
    list-style: none;
    padding: 15px;
    font-size: 17px;
    font-weight: 500;

}

.side-profile-menu-left .side-menu-card mat-card-content ul li:first-child{
    background-color: dodgerblue;
    border-radius: 25px;
    text-align: center;
    color: white !important;
    font-size: 18px;
    margin-bottom: 5px;
}

.side-profile-menu-left .side-menu-card mat-card-content ul li:first-child a{
    color: white !important;
}

.side-profile-menu-left .side-menu-card mat-card-content ul li:first-child:hover{
    background-color: dodgerblue;
    color: white !important;
    box-shadow: 0 0 5px rgba(0,0,0, 0.3);
}

.side-profile-menu-left .side-menu-card mat-card-content ul li a{
    text-decoration: none;
    color: #272727;
    width: 100%;
    height: 100%;
}



.side-profile-menu-left .side-menu-card mat-card-content ul li:hover{
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 25px;
}

.user-profile-community{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-profile-community a{
    font-size: 14px;
    font-weight: 500;
    color:#494848;
}


.user-profile-community a:first-child{
    margin-right: 20px;
}


.rights{
    background-color: #f1f1f1;
}
.profile-section .side-profile-menu-right{
    flex:1;
}

.profile-section .main-content{
    flex:2;
    margin-left: 20px;
    margin-right: 20px;
}

.avatar-xs-card{
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

.avatar-xs{
    border-radius: 100%;
    height: 25px;
    width: 25px;
}
.cover-profile{
    height: 225px;
    z-index: 1;
}
.user-profile-image{
    width: 100px;
    border-radius: 100%;
    margin-top: -70px !important;
    z-index: 2;
}

.user-profile-detail{
    margin-left: 105px;
    margin-top: -63px;
    box-sizing: border-box;
    padding: 0;
}

.user-profile-detail h1{
    font-size: 18px;
    color: #2c2c2c;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    text-align: left;
}

.user-profile-detail h1 a{
    text-decoration: none;
    color:dodgerblue;

}

.user-profile-bio{
    display: flex;
    flex-direction: column;
}

.user-profile-bio .birth-detail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;  
    margin-top: 10px;  
}

.user-profile-bio .birth-detail span{
  margin-right: 30px;
  font-size: 15px;
  font-weight: 400;
  color:#555454;
}

.user-profile-bio .birth-detail span fa-icon{
    color:#555454;
}

.user-profile-bio .birth-detail span:last-child{
    margin-right: auto;
  }

.user-profile-detail h5{
    font-size: 14px;
    color: #5c5c5c;
    margin-top: 0px !important;
    padding: 0px !important;
    text-align: left;
}


.reaction fa-icon{
    font-size: 20px;
    color: dodgerblue;
    margin-right: 15px;
}

.reaction fa-icon:last-child{
    margin-right: 0px;
}

.rights{
    display: flex;
    border-radius: 8px;
}

.rights ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rights ul li:last-child{
    margin-right: 0px;
}

@media screen and (max-width: 1000px){
    .profile-section{
        flex-direction: column;
    }
    .cover-profile{
        height: 225px;
        z-index: 1;
    }
    .side-profile-menu-left,.side-profile-menu-right{
        display: none;
    }

}

@media screen and (max-width: 600px){
    .profile-section{
        flex-direction: column;
    }
    .cover-profile{
        height: 225px;
        z-index: 1;
    }
    .side-profile-menu-left,.side-profile-menu-right{
        display: none;
    }

}


@media screen and (max-width: 359px){
    .user-profile-detail h1{
        font-size: 14px;
    }

}

