<section class="profile-section">
    <div class="side-profile-menu-left">
    <app-feed-side-menu></app-feed-side-menu>
    </div>

    <div class="main-content">
        <div class="user-profile">
          <mat-card>
           <img mat-card-image *ngIf="loginUser" class="cover-profile" [src]="loginUser.image" alt="Photo of a Shiba Inu">
            <mat-card-content>
                 <img *ngIf="loginUser" class="user-profile-image" [src]="loginUser.image">
                <div class="user-profile-detail">
                    <h1 class="user-name">{{ loginUser.first_name + ' ' + loginUser.last_name}}</h1>
                    <h5 class="user-title">Developer</h5>
                </div>
                <div class="user-profile-bio">

                <div class="birth-detail">
                    <span><fa-icon [icon]="faMapMarker"></fa-icon> From Port-au-Prince</span>
                    <span><fa-icon [icon]="faBirthdayCake"></fa-icon> Born Feb. 26, 1989</span>
                </div>

                <p class="description">Qualitative and quantitative data analyst.  Skilled in Python and R for data analysis. Monitoring and Evaluation Officer at Living Water International.I am a passionate developer from Haiti. I speak Python, TypeSript, Java and Apex.</p>
                
                </div>
                <div class="user-profile-community">
                    <a href="javascript:void(0)" class="following">67 Following</a>
                    <a href="javascript:void(0)" class="followers">117 Followers</a>
                </div>

            </mat-card-content>
          </mat-card>
        </div>
        <br>

        <app-feed-timeline></app-feed-timeline>

    </div>

    <div class="side-profile-menu-right">
        <app-users-suggestions></app-users-suggestions>
        <br>
        <app-groups-suggestions></app-groups-suggestions>
        <br>
        <app-feed-copyright></app-feed-copyright>
    </div>

</section>
