.header-row{
    display: flex;
    padding-top: 30px;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 15px;
}

.header-row .add-btn{
    background-color: #474b7a;
    color: white;
    height: 40px;
}

.header-row .status-data{
    flex: 1;
    background-color: #474b7a;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
}

.header-row .status-data h4{
    font-size: 25px;
    font-weight: 800;
}

.entity-info{
    text-transform: uppercase;
    font-weight: 600;
}

.header-row .whitespace{
    flex: 3;
}

@media screen and (max-width:100px){
    .header-row{
        flex-direction: column;
    }
   
    .header-row .whitespace{
        flex:1;
        display: none;
    }

}