<mat-card class="side-menu-card">
    <mat-card-header>

        <mat-card-title>Module Name</mat-card-title>
        <mat-card-subtitle class="user-title">Estimated time to complete</mat-card-subtitle>

    </mat-card-header>

    <mat-card-content>
            <ul>
                <li (click)="navigateTo('/feed')"><a class="nav-link" (click)="navigateTo('/feed')"><fa-icon [icon]="faComment"></fa-icon> Messages</a></li>
                <li (click)="navigateTo('/forums')"><a class="nav-link" (click)="navigateTo('/forums')"><fa-icon [icon]="faComments"></fa-icon> Forums</a></li>
                <li (click)="navigateTo('/accounts')"><a class="nav-link" (click)="navigateTo('/accounts')"><fa-icon [icon]="faUser"></fa-icon> Profile</a></li>
                <li><a class="nav-link" href="javascript:void(0)"><fa-icon [icon]="faShareAltSquare"></fa-icon> Posts and shares</a></li>
                <li><a class="nav-link" href="javascript:void(0)"><fa-icon [icon]="faHeart"></fa-icon> Likes and replies</a></li>
                <mat-divider></mat-divider>
                <li (click)="navigateTo('/accounts/all')"><a class="nav-link" (click)="navigateTo('/accounts/all')">Followers</a></li>
                <li (click)="navigateTo('/accounts/all')"><a class="nav-link" (click)="navigateTo('/accounts/all')">Following</a></li>
                 <mat-divider></mat-divider>
                <li (click)="navigateTo('/accounts/groups')"><a class="nav-link" (click)="navigateTo('/accounts/groups')"><fa-icon [icon]="faUsers"></fa-icon> Groups</a></li>
                <li (click)="navigateTo('/accounts/all')"><a class="nav-link" (click)="navigateTo('/accounts/all')"><fa-icon [icon]="faUserCircle"></fa-icon> Users</a></li>
            </ul>
    </mat-card-content>

</mat-card>

