                
            <span *ngIf="post && !post.parent">
                
                <mat-card-header>
                        <div mat-card-avatar class="card-header-image">
                            <img class="avatar-xs-card" [src]="post.user.image? post.user.image : post.user.default_image " alt="{{ 'Photo of ' + post.user.username }}">
                        </div>
                    <mat-card-title><a class="user-link" (click)="getUserData(post.user.username)">{{ post.user.first_name + ' ' + post.user.last_name }}</a></mat-card-title>
                    <mat-card-subtitle class="user-title" *ngIf="post.user.user_profile.title">{{post.user.user_profile.title}} &middot; {{ post.timesince}}</mat-card-subtitle>
                        <button class="post-sub-menu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Post sub-menu">
                        <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                        <button (click)= "openDialog_(post)" *ngIf="post.is_owned" mat-menu-item>
                            <mat-icon>create</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>security</mat-icon>
                            <span>Change post visibility</span>
                        </button>
                        <button *ngIf="!post.is_owned" (click)="openPostReportDialog(post.id)" mat-menu-item>
                            <mat-icon>report</mat-icon>
                            <span>Report this post</span>
                        </button>
                        <mat-divider></mat-divider>
                        <button *ngIf="post.is_owned" (click) ="openDeleteConfirmDialog(post)" mat-menu-item>
                            <mat-icon>delete_outline</mat-icon>
                            <span>Delete</span>
                        </button>
                        </mat-menu>
                </mat-card-header>
                
                <mat-card-content>
                <a (click)="getPost(post.id)">
                
                    <p *ngIf="!post.poll" class="post-paragraph" [innerHTML]= "post.content">
                    </p>
                </a>
                    <div class="wrap-voted-post" *ngIf="post.poll">
                        <div class="poll-status-handler">
                            <span class="post-type">
                                    <fa-icon [icon]="faChartBar"></fa-icon> poll
                            </span>

                            <span class="poll-voted" *ngIf="post.did_vote">
                                <fa-icon [icon]="faCheckSquare"></fa-icon> voted
                            </span>
                            <span  class="poll-status-open" *ngIf="post.poll.is_open">
                                <fa-icon [icon]="faSpinner"></fa-icon> open
                            </span>
                            <span  class="poll-status-close" *ngIf="!post.poll.is_open">
                                <fa-icon [icon]="faTimesCircle"></fa-icon> closed
                            </span>
                        </div>

                        <p class="post-paragraph" [innerHTML]= "post.content">
                        </p>
                        <mat-divider></mat-divider>
                    </div>

                    <div class="poll-option" *ngIf="post.poll">
               
                        <div   class="vote-results" *ngIf="!post.did_vote && !post.poll.is_open">

                            <span id="poll-{{post.poll.id}}">
                                <div class="voted-option" *ngFor="let opt of post.poll.options">
                                    <div style="width:{{opt.percent_vote}}" class="overlay">
                                    </div>
                                    <div class="option-value">
                                        <p>{{opt.value}}</p>
                                    </div>
                                </div>
                            </span>
                        </div>


                        <div   class="vote-results" *ngIf="post.did_vote && !post.poll.is_open">

                            <span id="poll-{{post.poll.id}}">
                                <div class="voted-option" *ngFor="let opt of post.poll.options">
                                    <div style="width:{{opt.percent_vote}}" class="overlay">
                                    </div>
                                    <div class="option-value">
                                        <p>{{opt.value}}</p>
                                    </div>
                                </div>
                            </span>
                        </div>
                        


                        <div   class="vote-results" *ngIf="post.did_vote && post.poll.is_open">

                            <span id="poll-{{post.poll.id}}">
                                <div class="voted-option" *ngFor="let opt of post.poll.options">
                                    <div style="width:{{opt.percent_vote}}" class="overlay">
                                    </div>
                                    <div class="option-value">
                                        <p>{{opt.value}}</p>
                                    </div>
                                </div>
                                <button *ngIf="post.poll.is_open" mat-raised-button (click)="onChangeVote('poll-' + post.poll.id, 'form-poll-'+ post.poll.id)" type="button">Change vote</button>
                            </span>

                            <div id="form-poll-{{post.poll.id}}"  class="change-vote-container remove" *ngIf="post.did_vote">

                                <form  (ngSubmit)="changeVote(form, 'form-poll-'+ post.poll.id)"
                                #form ="ngForm"
                                >

                                        <input type="hidden" [ngModel]="post.id" name="postId" required>
                                        <input type="hidden" [ngModel]="post.poll.id" name="pollId" required>
                                        <div>
                                            <mat-radio-group ngModel name="option" required>
                                            <div class="option-value">
                                                <p class="option-to-vote" *ngFor="let opt of post.poll.options">
                                                    <mat-radio-button value="{{opt.id}}">
                                                        {{opt.value}}
                                                    </mat-radio-button>
                                                </p>
                                            </div>
                                            </mat-radio-group>
                                        </div>
                                    <button type="submit" mat-raised-button class="submit-vote" [disabled]="form.invalid">Change vote</button>
                                </form>
                            </div>

                        </div>


                        <div class="vote-form-container" *ngIf="!post.did_vote && post.poll.is_open">
                            <form  (ngSubmit)="submitVote(form)"
                            #form ="ngForm"
                            >

                                    <input type="hidden" [ngModel]="post.id" name="postId" required>
                                    <input type="hidden" [ngModel]="post.poll.id" name="pollId" required>
                                    <div>
                                        <mat-radio-group ngModel name="option" required>
                                        <div class="option-value">
                                            <p class="option-to-vote" *ngFor="let opt of post.poll.options">
                                                <mat-radio-button value="{{opt.id}}">
                                                    {{opt.value}}
                                                </mat-radio-button>
                                            </p>
                                        </div>
                                        </mat-radio-group>
                                    </div>
                                <button type="submit" mat-raised-button class="submit-vote" [disabled]="form.invalid">Vote</button>
                            </form>
                        </div>

                    </div>

                    <div class="docs-handler" *ngIf="post.docs">
                        <p *ngFor="let doc of post.docs"><a href="{{tenantUrl + doc.pdf}}" target="blank">{{doc.title}}</a></p>
                    </div>

                    <mat-card *ngIf="post.previews">

                    <mat-grid-list cols="3" rowHeight="65px" 
                    *ngIf="post.previews && post.previews.image">
                    <a href="{{post.previews.url}}" target="blank">
                    <mat-grid-tile *ngIf="post.previews.image"
                        [colspan]="1"
                        [rowspan]="2"
                        >
                        <img src="{{post.previews.image}}" width="100%">

                    </mat-grid-tile>
                    <mat-grid-tile class="preview-title"
                        [colspan]="2"
                        [rowspan]="1"
                        >
                        <h4>{{post.previews.title}}</h4>
                    </mat-grid-tile>

                    <mat-grid-tile *ngIf="post.previews.description" class="preview-content"
                        [colspan]="2"
                        [rowspan]="1"
                        >
                        <p>
                        {{post.previews.description}}
                        </p>
                    </mat-grid-tile>
                    </a>
                    </mat-grid-list>

                    <mat-grid-list cols="1" rowHeight="65px" *ngIf="post.previews && !post.previews.image">
                    <a href="{{post.previews.url}}" target="blank">
                    <mat-grid-tile class="preview-title"
                        [colspan]="1"
                        [rowspan]="1"
                        >
                        <h4>{{post.previews.title}}</h4>
                    </mat-grid-tile>

                    <mat-grid-tile  *ngIf="post.previews.description" class="preview-content"
                        [colspan]="1"
                        [rowspan]="1"
                        >
                        <p>
                        {{post.previews.description}}
                        </p>
                    </mat-grid-tile>
                    </a>
                    </mat-grid-list>
                    </mat-card>

                    <div class="image-handler" *ngIf="post.images">

                        <owl-carousel-o [options]="customOptions" *ngIf="post.images.length >= 1">
                        
                            <ng-container *ngFor="let postImage of post.images">
                            <ng-template carouselSlide [id]="post.id">
                                <img [src]="tenantUrl + postImage.image" [alt]="post.id">
                            </ng-template>
                            </ng-container>
                        
                        </owl-carousel-o>
                    </div>
                <mat-divider></mat-divider>
                    <div class="post-stat" id="{{'post'+ post.id}}">
                        <span>{{ post.likes + ' ' }} {{post.likes == 1? 'Like': 'Likes'}}</span>
                        <span>{{ post.total_comments + ' ' }} {{post.total_comments == 1? 'Comment': 'Comments'}}</span>
                    </div>
                <mat-divider></mat-divider>
                </mat-card-content>
                
                <mat-card-actions>
                    <button id="{{'post-like-button'+ post.id}}" (click) = "onLikePost(post.id)"  [class]="post.did_like? 'did_like': 'general-icon' " mat-button><fa-icon [icon]="faThumbsUp"></fa-icon> Like</button>
                    <button mat-button class="general-icon" (click)="onToggleCommentForm('comment-form' + post.id)"><fa-icon [icon]="faComment"></fa-icon> Comment</button>
                    <button mat-button class="general-icon" (click)="openDialog(post)"><fa-icon [icon]="faShareAltSquare"></fa-icon> Share</button>
                </mat-card-actions>

                <div class="comment-form-handler hide" id = "{{ 'comment-form' + post.id }}">
                    <form class="comment-form" (ngSubmit)="submitComment(f1)" #f1="ngForm">
                        <div class="form-row">
                        <div mat-card-avatar class="comment-user-avatar">
                            <img *ngIf="loginUser" class="avatar-xs-card-comment" [src]="loginUser.image ? loginUser.image : loginUser.default_image" alt="{{loginUser.username}}">
                        </div>
                        <input type="hidden" ngModel = "post" name='content_type' ngValue='post'>
                        <input type="hidden" [ngModel] = "post.id" name='object_id' [value]="post.id">
                        <mat-form-field class="comment-form-content-box">
                            <textarea id="{{'comment-content' + post.id}}" (click)="rezizable('comment-content' + post.id)" name="content" ngModel matInput placeholder="Leave a comment..."></textarea>    
                        </mat-form-field>

                        <button class="post-comment" type="submit"
                             matRipple
                            [matRippleCentered]="centered"
                            [matRippleDisabled]="disabled"
                            [matRippleUnbounded]="unbounded"
                            [matRippleRadius]="radius"
                            [matRippleColor]="color"
                        >
                            <span class="material-icons">arrow_forward_ios</span>
                        </button>
                        </div>
                    </form>
                </div>

                <div class="wrap-comment" *ngIf="post.total_comments">
                    <div class="comment-thread" *ngFor="let comment of post.comments; let j = index">
                        <div class class="comment-box">
                            <div class="comment-content-box">
                                <div mat-card-avatar class="comment-user-avatar">
                                    <img class="avatar-xs-card-comment" *ngIf="tenantUrl" [src]=" comment.user.image ? tenantUrl + comment.user.image : comment.user.default_image" alt="{{comment.user.username}}">
                                </div>
                                <p class="comment-text">
                                <a class="user-link" (click)="getUserData(comment.user.username)"> <span class="comment-user">{{ comment.user.first_name + ' ' + comment.user.last_name }}</span></a>
                                <br>

                                    {{comment.content}}

                                </p>
                                
                            </div>

                            <div class="comment-actions">
                                <button id="{{'comment-btn' + post.id + comment.id}}"  *ngIf="comment && loginUser" (click) ="onLikeComment(comment.id, 'comment-btn' + post.id + comment.id)" [class]="comment.likers.includes(loginUser.id)? 'did_like': 'general-icon' " mat-button><span><fa-icon [icon]="faThumbsUp"></fa-icon></span> <span class="counter">{{comment.likes}}</span></button>
                                <button  mat-button (click)="onToggleCommentForm('comment-form' + j + comment.id)">Reply</button>
                            </div>

                            <div class="comment-form-handler comment-reply-form-handler hide" id="{{'comment-form' + j + comment.id}}">
                                <form class="comment-form" (ngSubmit)="submitComment(f2)" #f2="ngForm">
                                    <div class="form-row">
                                    <div mat-card-avatar class="comment-user-avatar">
                                        <img *ngIf="loginUser" class="avatar-xs-card-comment" [src]="loginUser.image? loginUser.image : loginUser.default_image" alt="{{loginUser.username}}}">
                                    </div>
                                    <input type="hidden" [ngModel] = "comment.id" name='parent_id'>
                                    <input type="hidden" ngModel = "post" name='content_type'>
                                    <input type="hidden" [ngModel] = "post.id" name='object_id'>
                                    <mat-form-field class="comment-form-content-box">
                                        <textarea id="{{'comment-content' + comment.id}}" (click)="rezizable('comment-content' + comment.id)" name="content" ngModel matInput placeholder="Leave a reply..."></textarea>    
                                    </mat-form-field>  
                                       
                                    <button class="post-comment" type="submit"
                                        matRipple
                                        [matRippleCentered]="centered"
                                        [matRippleDisabled]="disabled"
                                        [matRippleUnbounded]="unbounded"
                                        [matRippleRadius]="radius"
                                        [matRippleColor]="color"
                                    >
                                        <span class="material-icons">arrow_forward_ios</span>
                                    </button>
                                    </div>
                                </form>
                            </div>


                        </div>

                        <div class="wrap-inner-comment"  *ngIf="comment.reply_count">
                            <div class="inner-comment-thread" *ngFor="let reply of comment.replies; let k = index">
                        
                                <div class class="comment-box">
                                    <div class="comment-content-box">
                                        <div mat-card-avatar class="comment-user-avatar">
                                            <img class="avatar-xs-card-comment" *ngIf="tenantUrl" src="{{ reply.user.image ? tenantUrl +  reply.user.image : reply.user.default_image }}" alt="Photo of a Shiba Inu">
                                         </div>
                                    <p class="comment-text">
                                    <a class="user-link" (click)="getUserData(reply.user.username)"> <span class="comment-user">{{ reply.user.first_name + ' ' + reply.user.last_name }}</span></a>
                                    <br>
                                    {{reply.content}}
                                    </p>
                                </div>
                                <div class="comment-actions">
                                    <button id="{{'comment-reply-btn' + post.id + reply.id}}"  *ngIf="reply && loginUser" (click) = "onLikeComment(reply.id, 'comment-reply-btn' + post.id + reply.id)" [class]="reply.likers.includes(loginUser.id)? 'did_like': 'general-icon' " mat-button><span><fa-icon [icon]="faThumbsUp"></fa-icon></span> <span class="counter">{{reply.likes}}</span></button>
                                    <button (click)="onToggleCommentForm('comment-form'+ j + k + reply.id)" mat-button>Reply</button>
                                </div>

                            <div id="{{'comment-form' + j + k + reply.id }}" class="comment-form-handler comment-reply-form-handler hide">
                                <form class="comment-form" (ngSubmit)="submitComment(f3)" #f3="ngForm">
                                    <div class="form-row">
                                    <div mat-card-avatar class="comment-user-avatar">
                                        <img *ngIf="loginUser" class="avatar-xs-card-comment" [src]="loginUser.image? loginUser.image : loginUser.default_image" alt="{{loginUser.username}}">
                                    </div>
                                    <input type="hidden" [ngModel] = "comment.id" name='parent_id'>
                                    <input type="hidden" ngModel = "post" name='content_type'>
                                    <input type="hidden" [ngModel] = "post.id" name='object_id'>
                                    <mat-form-field class="comment-form-content-box">
                                        <textarea id="{{'comment-content' + j + k}}" (click)="rezizable('comment-content' + j + k)" name="content" ngModel matInput placeholder="Leave a reply..."></textarea>    
                                    </mat-form-field>  
                                        
                                    <button class="post-comment" type="submit"
                                        matRipple
                                        [matRippleCentered]="centered"
                                        [matRippleDisabled]="disabled"
                                        [matRippleUnbounded]="unbounded"
                                        [matRippleRadius]="radius"
                                        [matRippleColor]="color"
                                    >
                                        <span class="material-icons">arrow_forward_ios</span>
                                    </button>
                                    </div>
                                </form>
                            </div>

                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </span>


            <span *ngIf="post && post.parent">
                <div class="post-share-detail">
                   
                    <p><a class="user-link" (click)="getUserData(post.user.username)"><fa-icon [icon]="faShare"></fa-icon> {{ post.user.first_name + ' ' + post.user.last_name }}</a> &middot; {{post.timesince}}.</p>
                    <a (click)="getPost(post.id)">
                    <p *ngIf="post.new_content">{{post.new_content}}</p>
                    </a>
                    <button class="post-sub-menu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Post sub-menu">
                        <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                        <button (click)= "openDialog_(post)" *ngIf="post.is_owned" mat-menu-item>
                            <mat-icon>create</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>security</mat-icon>
                            <span>Change post visibility</span>
                        </button>
                        <button *ngIf="!post.is_owned" (click)="openPostReportDialog(post.id)" mat-menu-item>
                            <mat-icon>report</mat-icon>
                            <span>Report this post</span>
                        </button>
                        <mat-divider></mat-divider>
                        <button *ngIf="post.is_owned" (click) =" openDeleteConfirmDialog(post)" mat-menu-item>
                            <mat-icon>delete_outline</mat-icon>
                            <span>Delete</span>
                        </button>
                        </mat-menu>
                    
                </div>
            
                <mat-card-header>
                        <div mat-card-avatar class="card-header-image">
                            <img class="avatar-xs-card" [src]="post.parent.user.image ? post.parent.user.image : post.parent.user.default_image" alt="{{ 'Photo of ' + post.parent.user.username }}">
                        </div>
                    <mat-card-title><a class="user-link" (click)="getUserData(post.parent.user.username)">{{ post.parent.user.first_name + ' ' + post.parent.user.last_name }}</a></mat-card-title>
                    <mat-card-subtitle class="user-title" *ngIf="post.parent.user.user_profile.title">{{post.parent.user.user_profile.title}} &middot; {{ post.parent.timesince}}</mat-card-subtitle>
                </mat-card-header>
                
                <mat-card-content>
                <a (click)="getPost(post.parent.id)">
                    <p *ngIf="!post.parent.poll" class="post-paragraph" [innerHTML]= "post.parent.content">
                    </p>
                </a>
                    <div class="wrap-voted-post" *ngIf="post.parent.poll">
                        <div class="poll-status-handler">
                            <span class="post-type">
                                    <fa-icon [icon]="faChartBar"></fa-icon> poll
                            </span>

                            <span class="poll-voted" *ngIf="post.parent.poll.poll_voters.includes(loginUser.id)">
                                <fa-icon [icon]="faCheckSquare"></fa-icon> voted
                            </span>
                            <span  class="poll-status-open" *ngIf="post.parent.poll.is_open">
                                <fa-icon [icon]="faSpinner"></fa-icon> open
                            </span>
                            <span  class="poll-status-close" *ngIf="!post.parent.poll.is_open">
                                <fa-icon [icon]="faTimesCircle"></fa-icon> closed
                            </span>
                        </div>
                        <a  (click)="getPost(post.parent.id)">

                        <p class="post-paragraph" [innerHTML]= "post.parent.content">
                        </p>
                        </a>
                        <mat-divider></mat-divider>
                    </div>

                    <div class="poll-option" *ngIf="post.parent.poll">

                        <div   class="vote-results" *ngIf="!post.parent.poll.poll_voters.includes(loginUser.id) && !post.parent.poll.is_open">

                            <span id="polls-{{post.parent.poll.id}}">
                                <div class="voted-option" *ngFor="let opt of post.parent.poll.options">
                                    <div style="width:{{opt.percent_vote}}" class="overlay">
                                    </div>
                                    <div class="option-value">
                                        <p>{{opt.value}}</p>
                                    </div>
                                </div>
                                <button *ngIf="post.parent.poll.is_open" mat-raised-button (click)="onChangeVote('polls-' + post.parent.poll.id, 'form-polls-'+ post.parent.poll.id)" type="button">Change vote</button>
                            </span>
                        </div>



                        <div   class="vote-results" *ngIf="post.parent.poll.poll_voters.includes(loginUser.id) && !post.parent.poll.is_open">

                            <span id="polls-{{post.parent.poll.id}}">
                                <div class="voted-option" *ngFor="let opt of post.parent.poll.options">
                                    <div style="width:{{opt.percent_vote}}" class="overlay">
                                    </div>
                                    <div class="option-value">
                                        <p>{{opt.value}}</p>
                                    </div>
                                </div>
                                <button *ngIf="post.parent.poll.is_open" mat-raised-button (click)="onChangeVote('polls-' + post.parent.poll.id, 'form-polls-'+ post.parent.poll.id)" type="button">Change vote</button>
                            </span>
                        </div>

                        
                        <div   class="vote-results" *ngIf="post.parent.poll.poll_voters.includes(loginUser.id) && post.parent.poll.is_open">

                            <span id="polls-{{post.parent.poll.id}}">
                                <div class="voted-option" *ngFor="let opt of post.parent.poll.options">
                                    <div style="width:{{opt.percent_vote}}" class="overlay">
                                    </div>
                                    <div class="option-value">
                                        <p>{{opt.value}}</p>
                                    </div>
                                </div>
                                <button *ngIf="post.parent.poll.is_open" mat-raised-button (click)="onChangeVote('polls-' + post.parent.poll.id, 'form-polls-'+ post.parent.poll.id)" type="button">Change vote</button>
                            </span>

                            <div id="form-polls-{{post.parent.poll.id}}"  class="change-vote-container remove" *ngIf="post.parent.poll.poll_voters.includes(loginUser.id)">

                                <form  (ngSubmit)="changeVote(form, 'form-polls-'+ post.parent.poll.id)"
                                #form ="ngForm"
                                >

                                        <input type="hidden" [ngModel]="post.parent.id" name="postId" required>
                                        <input type="hidden" [ngModel]="post.parent.poll.id" name="pollId" required>
                                        <div>
                                            <mat-radio-group ngModel name="option" required>
                                            <div class="option-value">
                                                <p class="option-to-vote" *ngFor="let opt of post.parent.poll.options">
                                                    <mat-radio-button value="{{opt.id}}">
                                                        {{opt.value}}
                                                    </mat-radio-button>
                                                </p>
                                            </div>
                                            </mat-radio-group>
                                        </div>
                                    <button type="submit" mat-raised-button class="submit-vote" [disabled]="form.invalid">Change vote</button>
                                </form>
                            </div>

                        </div>


                        <div class="vote-form-container" *ngIf="!post.parent.poll.poll_voters.includes(loginUser.id) && post.parent.poll.is_open">
                            <form  (ngSubmit)="submitVote(form)"
                            #form ="ngForm"
                            >

                                    <input type="hidden" [ngModel]="post.parent.id" name="postId" required>
                                    <input type="hidden" [ngModel]="post.parent.poll.id" name="pollId" required>
                                    <div>
                                        <mat-radio-group ngModel name="option" required>
                                        <div class="option-value">
                                            <p class="option-to-vote" *ngFor="let opt of post.parent.poll.options">
                                                <mat-radio-button value="{{opt.id}}">
                                                    {{opt.value}}
                                                </mat-radio-button>
                                            </p>
                                        </div>
                                        </mat-radio-group>
                                    </div>
                                <button type="submit" mat-raised-button class="submit-vote" [disabled]="form.invalid">Vote</button>
                            </form>
                        </div>

                    </div>
                    <div class="docs-handler" *ngIf="post.parent.docs">
                        <p *ngFor="let doc of post.parent.docs"><a href="{{tenantUrl + doc.pdf}}" target="blank">{{doc.title}}</a></p>
                    </div>


                    <mat-card *ngIf="post.parent.previews">

                    <mat-grid-list cols="3" rowHeight="65px" 
                    *ngIf="post.parent.previews && post.parent.previews.image">
                    <a href="{{post.parent.previews.url}}" target="blank">
                    <mat-grid-tile *ngIf="post.parent.previews.image"
                        [colspan]="1"
                        [rowspan]="2"
                        >
                        <img src="{{post.parent.previews.image}}" width="100%">

                    </mat-grid-tile>
                    <mat-grid-tile class="preview-title"
                        [colspan]="2"
                        [rowspan]="1"
                        >
                        <h4>{{post.parent.previews.title}}</h4>
                    </mat-grid-tile>

                    <mat-grid-tile *ngIf="post.parent.previews.description" class="preview-content"
                        [colspan]="2"
                        [rowspan]="1"
                        >
                        <p>
                        {{post.parent.previews.description}}
                        </p>
                    </mat-grid-tile>
                    </a>
                    </mat-grid-list>

                    <mat-grid-list cols="1" rowHeight="65px" *ngIf="post.parent.previews && !post.parent.previews.image">
                    <a href="{{post.parent.previews.url}}" target="blank">
                    <mat-grid-tile class="preview-title"
                        [colspan]="1"
                        [rowspan]="1"
                        >
                        <h4>{{post.parent.previews.title}}</h4>
                    </mat-grid-tile>

                    <mat-grid-tile  *ngIf="post.parent.previews.description" class="preview-content"
                        [colspan]="1"
                        [rowspan]="1"
                        >
                        <p>
                        {{post.parent.previews.description}}
                        </p>
                    </mat-grid-tile>
                    </a>
                    </mat-grid-list>
                    </mat-card>

                    <owl-carousel-o [options]="customOptions" *ngIf="post.parent.images && post.parent.images.length >= 1">
                        
                            <ng-container *ngFor="let postImage of post.parent.images">
                            <ng-template carouselSlide [id]="post.parent.id">
                                <img [src]="tenantUrl + postImage.image" [alt]="post.parent.id">
                            </ng-template>
                            </ng-container>
                        
                    </owl-carousel-o>
                <mat-divider></mat-divider>
                    <div class="post-stat" id="{{'post'+ post.id}}">
                        <span>{{ post.likes + ' ' }} {{post.likes == 1? 'Like': 'Likes'}}</span>
                        <span>{{ post.total_comments + ' ' }} {{post.total_comments == 1? 'Comment': 'Comments'}}</span>
                    </div>
                <mat-divider></mat-divider>
                </mat-card-content>
                
                
                <mat-card-actions>
                    <button id="{{'post-like-button'+ post.id}}" (click) = "onLikePost(post.id)"  [class]="post.did_like? 'did_like': 'general-icon' " mat-button><fa-icon [icon]="faThumbsUp"></fa-icon> Like</button>
                    <button mat-button class="general-icon" (click)="onToggleCommentForm('comment-form' + post.id)"><fa-icon [icon]="faComment"></fa-icon> Comment</button>
                    <button mat-button class="general-icon"  (click)="openDialog(post)"><fa-icon [icon]="faShareAltSquare"></fa-icon> Share</button>
                </mat-card-actions>

                <div class="comment-form-handler hide" id = "{{ 'comment-form' + post.id }}">
                    <form class="comment-form" (ngSubmit)="submitComment(f1)" #f1="ngForm">
                        <div class="form-row">
                        <div mat-card-avatar class="comment-user-avatar">
                            <img *ngIf="loginUser" class="avatar-xs-card-comment" [src]="loginUser.image? loginUser.image : loginUser.default_image" alt="{{loginUser.username}}">
                        </div>
                        <input type="hidden" ngModel = "post" name='content_type' ngValue='post'>
                        <input type="hidden" [ngModel] = "post.id" name='object_id' [value]="post.id">
                        <mat-form-field class="comment-form-content-box">
                            <textarea id="{{'comment-content' + post.id}}" (click)="rezizable('comment-content' + post.id)" name="content" ngModel matInput placeholder="Leave a comment..."></textarea>    
                        </mat-form-field>  
                            <!--<textarea class="comment-input" placeholder="Ex. It makes me feel..." name="commentValue" #commentInput></textarea>-->

                        <button class="post-comment" type="submit"
                             matRipple
                            [matRippleCentered]="centered"
                            [matRippleDisabled]="disabled"
                            [matRippleUnbounded]="unbounded"
                            [matRippleRadius]="radius"
                            [matRippleColor]="color"
                        >
                            <span class="material-icons">arrow_forward_ios</span>
                        </button>
                        </div>
                    </form>
                </div>

                <div class="wrap-comment" *ngIf="post.total_comments">
                    <div class="comment-thread" *ngFor="let comment of post.comments; let j = index">
                        <div class class="comment-box">
                            <div class="comment-content-box">
                                <div mat-card-avatar class="comment-user-avatar">
                                    <img class="avatar-xs-card-comment" *ngIf="tenantUrl" src="{{ comment.user.image ? tenantUrl + comment.user.image : comment.user.default_image}}" alt="{{comment.user.username}}">
                                </div>
                                <p class="comment-text">
                                <a class="user-link" (click)="getUserData(comment.user.username)"> <span class="comment-user">{{ comment.user.first_name + ' ' + comment.user.last_name }}</span></a>
                                <br>
                                {{comment.content}}
                                </p>
                            </div>
                            <div class="comment-actions">
                                <button id="{{'comment-btn' + comment.id}}" *ngIf="comment && loginUser" (click) ="onLikeComment(comment.id, 'comment-btn' + comment.id)" [class]="comment.likers.includes(loginUser.id)? 'did_like': 'general-icon' " mat-button><span><fa-icon [icon]="faThumbsUp"></fa-icon></span> <span class="counter">{{comment.likes}}</span></button>
                                <button mat-button (click)="onToggleCommentForm('comment-form' + j)">Reply</button>
                            </div>

                            <div class="comment-form-handler comment-reply-form-handler hide" id="{{'comment-form' + j}}">
                                <form class="comment-form" (ngSubmit)="submitComment(f2)" #f2="ngForm">
                                    <div class="form-row">
                                    <div mat-card-avatar class="comment-user-avatar">
                                        <img *ngIf="loginUser" class="avatar-xs-card-comment" [src]="loginUser.image? loginUser.image : loginUser.default_image" alt="{{loginUser.username}}">
                                    </div>
                                    <input type="hidden" [ngModel] = "comment.id" name='parent_id'>
                                    <input type="hidden" ngModel = "post" name='content_type'>
                                    <input type="hidden" [ngModel] = "post.id" name='object_id'>
                                    <mat-form-field class="comment-form-content-box">
                                        <textarea id="{{'comment-content' + j}}" (click)="rezizable('comment-content' + j)" name="content" ngModel matInput placeholder="Leave a reply..."></textarea>    
                                    </mat-form-field>  
                                       
                                    <button class="post-comment" type="submit"
                                        matRipple
                                        [matRippleCentered]="centered"
                                        [matRippleDisabled]="disabled"
                                        [matRippleUnbounded]="unbounded"
                                        [matRippleRadius]="radius"
                                        [matRippleColor]="color"
                                    >
                                        <span class="material-icons">arrow_forward_ios</span>
                                    </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="wrap-inner-comment"  *ngIf="comment.reply_count">
                            <div class="inner-comment-thread" *ngFor="let reply of comment.replies; let k = index">
                        
                                <div class class="comment-box">
                                    <div class="comment-content-box">
                                        <div mat-card-avatar class="comment-user-avatar">
                                            <img class="avatar-xs-card-comment" *ngIf="tenantUrl" src="{{ reply.user.image ? tenantUrl + reply.user.image: reply.user.default_image }}" alt="{{reply.user.username}}">
                                         </div>
                                    <p class="comment-text">
                                    <a class="user-link" (click)="getUserData(reply.user.username)"> <span class="comment-user">{{ reply.user.first_name + ' ' + reply.user.last_name }}</span></a>
                                    <br>
                                    {{reply.content}}
                                    </p>
                                </div>
                                <div class="comment-actions">
                                    <button id="{{'comment-reply-btn' + reply.id}}" *ngIf="reply && loginUser" (click) = "onLikeComment(reply.id, 'comment-reply-btn' + reply.id)" [class]="reply.likers.includes(loginUser.id)? 'did_like': 'general-icon' " mat-button><span><fa-icon [icon]="faThumbsUp"></fa-icon></span> <span class="counter">{{reply.likes}}</span></button>
                                    <button (click)="onToggleCommentForm('comment-form' + j + k)" mat-button>Reply</button>
                                </div>

                            <div id="{{'comment-form' + j + k }}" class="comment-form-handler comment-reply-form-handler hide">
                                <form class="comment-form" (ngSubmit)="submitComment(f3)" #f3="ngForm">
                                    <div class="form-row">
                                    <div mat-card-avatar class="comment-user-avatar">
                                        <img *ngIf="loginUser" class="avatar-xs-card-comment" [src]="loginUser.image? loginUser.image : loginUser.default_image" alt="{{loginUser.username}}">
                                    </div>
                                    <input type="hidden" [ngModel] = "comment.id" name='parent_id'>
                                    <input type="hidden" ngModel = "post" name='content_type'>
                                    <input type="hidden" [ngModel] = "post.id" name='object_id'>
                                    <mat-form-field class="comment-form-content-box">
                                        <textarea id="{{'comment-content' + j + k}}" (click)="rezizable('comment-content' + j + k)" name="content" ngModel matInput placeholder="Leave a reply..."></textarea>    
                                    </mat-form-field>  
                                        
                                    <button class="post-comment" type="submit"
                                        matRipple
                                        [matRippleCentered]="centered"
                                        [matRippleDisabled]="disabled"
                                        [matRippleUnbounded]="unbounded"
                                        [matRippleRadius]="radius"
                                        [matRippleColor]="color"
                                    >
                                        <span class="material-icons">arrow_forward_ios</span>
                                    </button>
                                    </div>
                                </form>
                            </div>

                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </span>
