.avatar-xs-card{
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

.post-paragraph{
    margin-bottom: 20px !important;
}

.multiple-image-row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.two-image-column {
    flex: 1;
    max-width: 100%;
    padding: 0 4px;
    display: flex;
}
span.counter{
    margin-left: 5px;
}
.img{
    width: 500px;
    height: 500px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.two-image-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 50%;
}

.two-image-column img:first-child {
    margin-top: 0px;
}

.single-column{
    flex:100%;
}

.single-column img {
    margin-top: 8px;
    vertical-align: middle;
}

.multiple-image-column img {
    margin-top: 8px;
    vertical-align: middle;
}

.post-paragraph:hover{
    cursor: pointer;
}

img:hover{
 cursor: pointer;
}

.post-share-detail:hover{
    cursor: pointer;
}

.user-link{
    text-decoration: none;
    cursor: pointer;
    color: #161515;
}
.avatar-xs-card-comment{
    border-radius: 100%;
    height: 40px;
    width: 40px; 
}

.comment-form-content-box{
    width: 100%;
}

.avatar-xs{
    border-radius: 100%;
    height: 25px;
    width: 25px;
}
.reaction fa-icon{
    font-size: 20px;
    color: dodgerblue;
    margin-right: 15px;
}

.reaction fa-icon:last-child{
    margin-right: 0px;
}

.comment-thread{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.comment-thread .inner-comment-thread{
    margin-left: 50px;
}
.comment-thread .comment-box{
    padding: 5px;
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.comment-thread .comment-box .comment-content-box{
    flex:2;
    display: flex;
    flex-direction: row;
}

.comment-thread .comment-box .comment-content-box .comment-text{
    flex:2;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 4px;
}

.hide{
    display:none;
  }


.comment-box .comment-reply-form-handler{
    margin-top: 10px !important;
    background-color: white;
    margin-left: 50px;
}

.comment-box .comment-actions{
    display: flex;
    margin-left: 40px;
}

.comment-box .comment-actions button{
    margin-right: 15px;
}

.comment-user{
  font-weight: 570;  
}
.comment-box .comment-actions button:last-child{
    margin-right: 0px;
}

.comment-thread .comment-box:last-child{
    margin-bottom: 0px;
}

.comment-thread .comment-box .comment-user-avatar{
    margin-right: 15px;
    min-height: 50px;
}

.comment-thread .comment-box .comment-text{
    padding: 0px;
}

.comment-form{
    margin-bottom: 15px;
}
.comment-form .form-row{
    display: flex;
    flex-direction: row;
    padding: 6px;
}

a{
    text-decoration: none;
}
.comment-form .form-row .comment-user-avatar {
    margin-right: 15px;
}
.comment-form .form-row .comment-input{
    border-radius: 6px !important;
    border: 1px solid #f1f1f1;
    flex: 2;
}

.editable:empty:before {
    content: attr(data-placeholder);
}

.publish{
    margin-left: 7px;
    background-color: dodgerblue;
    height: 40px;
    max-height: 40px;
    color: white;
}

.post-comment{
    background-color: dodgerblue;
    height: 36px;
    max-height: 36px !important;
    color: white;
    width: 40px;
    max-width: 40px !important;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 6px;
    margin-left: 8px;
    cursor: pointer;

}


.post-card{
    margin-bottom: 15px !important;
    margin-left: 9px;
    margin-right: 9px;
}


mat-card-header{
    position: relative;
}
.post-sub-menu{
    margin-top: 8px;
    position: absolute;
    right:0px;
    top:0px;
}

.post-stat{
    display:flex;
    padding:6px;
}

.post-stat span{
    font-size: 12px;
}
.post-stat span:first-child{
    margin-right: 20px;
}

.did_like{
    color: dodgerblue;
}

.poll-status-handler{
    display: flex;
    margin-bottom: 20px;
    height: 20px;
    max-height: 20px;
}

.poll-status-handler span{
    margin-right: 10px;
    border-radius: 4px;
    background-color: dodgerblue;
    width: 55px;
    text-align: center;
    font-size: 12px;
    font-weight: 580;
    color:rgb(255, 255, 255);
}

.poll-option{
    margin-top: 30px;
}

.poll-option .vote-results{
    padding: 10px;
    border-radius: 6px;

}

.preview-title h4{
    position: absolute;
    left: 3px;
    top: 3px;
    font-weight: 550;

}

.preview-content p{
    position: absolute;
    left: 3px;
    top: 3px;
}

.poll-option .vote-results .voted-option{
    padding: 8px;
    position: relative;
    height: 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 4px;
}

.poll-option .vote-results .voted-option .overlay,
.poll-option .vote-results .voted-option .option-value{
    position: absolute;
    height: 100%;
    top:0;
    left:0;
    border-radius: 4px; 
}

.poll-option .vote-results .voted-option .overlay{
    background-color: #35ba9d;
}

.poll-option .vote-results .voted-option .option-value{
    z-index: 4;
    width: 100%;
    background-color: #f1f1f181;
    padding-left: 8px;
}

.poll-option .vote-results .voted-option:last-child{
    margin-bottom: 0px;
}

.poll-status-handler span.poll-voted {
    background-color: #0ec54e;
}

.poll-status-handler span.post-type {
    background-color: fuchsia;
}

.poll-status-handler span.poll-status-close{
    background-color: #fd602f;
}

.poll-status-handler span:last-child{
    margin-right: 0px;
}

.submit-vote{
    background-color: dodgerblue;
    color: white;
}

.vote-form-container{
    width: 100%;
}
.option-value p{
    margin-top: 11px;
}

.option-value .option-to-vote mat-radio-button{
    display: flex;
    flex-grow: inherit;
}

.remove{
    display: none;
}

.fadeIn {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}



@media screen and (max-width: 500px){
    .comment-thread .inner-comment-thread{
        margin-left: 0px;
    }
    .comment-box .comment-reply-form-handler{
        margin-left: 0px;
    }
}