    <mat-toolbar class="navbar">
    <div fxHide.gt-xs>
        <button class="toggleButton" mat-icon-button (click)="onToggleSiveNav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div><a  routerLink="/">
    <img class="site-logo" src="assets/logo/logo.png"></a></div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul *ngIf="!isAuthenticated" fxLayout fxLayoutGap="10px" class="nav-items">

        
            <li class="nav-item">
                <a routerLink="/auth/login">Login</a>
            </li>

            <li class="nav-item">
                <a routerLink="/auth/register">Register</a>
            </li>

            <li class="nav-item">
                <a (click) = "toPricing()">Pricing</a>
            </li>

            <li class="nav-item">
                <a (click) = "toAbout()">About Us</a>
            </li>

            <li class="nav-item">
                <a (click) = "toContact()">Contact</a>
            </li>

            <li class="nav-item">
                <a routerLink="/donate/donors">Donors</a>
            </li>
            <li class="nav-item">
                <a routerLink="/donate/process">
                    <button mat-raised-button class="donate-btn">
                        Donate
                    </button>
                </a>
           </li>

        </ul>

        <ul *ngIf="isAuthenticated" fxLayout fxLayoutGap="10px" class="nav-items">
            <li class="nav-item notification">
            <mat-icon matBadge="6" matBadgeColor="warn">notifications</mat-icon>
            </li>

            <li class="nav-item handle-user" [matMenuTriggerFor]="menu">
                        <img class="avatar-xs" [src]="authenticateduser.image"> <span class="username"> {{authenticateduser.username }} </span>
            </li>
            <mat-menu #menu="matMenu">
            <a [routerLink]="['/accounts', authenticateduser.username, 'profile']"><button mat-menu-item>Profile</button></a>
            <a routerLink="/school/admin"><button mat-menu-item>Admin</button></a>
            <mat-divider></mat-divider>
            <a routerLink="/accounts/password-change"><button mat-menu-item>Change password</button></a>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="onLogout()">Logout</button>
            </mat-menu>

        </ul>

    </div>
    <a routerLink="/donate" fxHide.gt-xs>
        <button mat-raised-button class="donate-btn btn-v-xs">
            Donate
        </button>
    </a>
    </mat-toolbar>

