table {
    width: 100%;
}

.table-actions{
    display: flex;
    flex-direction: row;
    background-color: #2a3f54;
    border-radius: 5px 5px 0px 0px;
    color: white;
    padding-top: 10px;
    padding-left: 17px;
}

.table-actions mat-form-field{
    flex: 1;
    padding-right: 8px;
    background-color:  #2a3f54;
    color: white;
}

.table-actions mat-form-field mat-label{
    color:white;
}

.table-actions mat-paginator {
    flex: 3;
    background-color: #2a3f54;
    color: white;
}

.table-container {
    width: min(1300px, 100%);
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  th, td{
    padding-left: 8px;
  }

  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-id, td.mat-column-id {
    padding-left: 8px;
    width: 30px !important;
  }

  th.mat-column-name, td.mat-column-name {
    padding-left: 8px;
  }


  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }