table {
    width: 100%;
}

.data-table{
    margin-top: 50px;
}
.table-actions{
    display: flex;
    flex-direction: row;
    background-color: #2a3f54;
    border-radius: 5px 5px 0px 0px;
    color: white;
    padding-top: 10px;
    padding-left: 17px;
}

.table-actions mat-form-field{
    flex: 1;
    padding-right: 8px;
    background-color:  #2a3f54;
    color: white;
}

.table-actions mat-form-field mat-label{
    color:white;
}

.table-actions mat-paginator {
    flex: 3;
    background-color: #2a3f54;
    color: white;
}

.example-container {
    width: min(1300px, 100%);
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }

  th.mat-column-name, td.mat-column-name {
    padding-left: 8px;
  }


  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }

  @media screen and (max-width:1000px){
    .school-root .side-menu{
        display: none;
    }
  }