.data-table{
  background-color: #272953;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
}
.table-actions{
    display: flex;
    flex-direction: row;
    background-color: #474b7a;
    border-radius: 5px 5px 0px 0px;
    color: white;
    padding-top: 10px;
    padding-left: 17px;
}

.table-actions mat-form-field{
    flex: 1;
    padding-right: 8px;
    background-color:  #474b7a;
    color: white;
}

.table-actions mat-form-field mat-label{
    color:white;
}

.table-actions mat-paginator {
    flex: 3;
    background-color:#474b7a;
    color: white;
}

.table-container {
    width: min(1300px, 100%);
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  th {
    font-size: 14px;
    color:rgb(10, 10, 10);
  }

  th, td{
    padding-left: 8px;
  }

  th.mat-column-star, td.mat-column-star {
    padding-right: 8px;
  }
  
  th.mat-column-id, td.mat-column-id {
    padding-left: 8px;
    width: 30px !important;
  }

  th.mat-column-name, td.mat-column-name {
    padding-left: 8px;
  }

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {background-color: #cecbcb;}

.mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }