
<section class="users-list">
    <div class="side-profile-menu-left">
    <app-feed-side-menu></app-feed-side-menu>
    </div>

    <div class="main-content">
        <div *ngIf="usersList">

            <h3>All users: {{ usersList.length }}</h3>
        
            <mat-card class="user-detail" *ngFor="let user of usersList">
                <mat-card-header>
                    <div mat-card-avatar>
                        <img class="avatar-xs-card" [src]="user.image? user.image: user.default_image" alt="{{user.username}}">
                    </div>
                    <mat-card-title><a class="user-link" [routerLink]="['/accounts', user.username]">{{ user.first_name + ' ' + user.last_name}}</a></mat-card-title>
                    <mat-card-subtitle>Developer</mat-card-subtitle>
                </mat-card-header>
                

                <mat-card-actions *ngIf="loginUser">
                    <a *ngIf="user.username != loginUser.username" mat-raised-button id="{{'user-' + user.id }}" class="follow-btn" (click)="onFollowUser(user.username, 'user-' + user.id)"> {{ user.is_followed ? "Following" : "Follow"}}</a>
                </mat-card-actions>
    
            </mat-card>
    
        </div>
    </div>

    <div class="side-profile-menu-right">
        <app-users-suggestions></app-users-suggestions>
        <br>
        <app-groups-suggestions></app-groups-suggestions>
        <br>
        <app-feed-copyright></app-feed-copyright>
    </div>

</section>
