<section>
    <h2 class="section-title">Pricing</h2>
    <div class="underline"></div>
    <div class="pricing-table">
        <div class="pricing-card">
            <h3 class="card-pricing-header free">Basic - Free</h3>
            <div class="price free-price">
                <sup>$</sup>0<sup>.00</sup>
                <span>USD/user/mo</span><br>
                <span class="billing-cycle">(scalable**)</span>
            </div>
            <ul>
                <li><mat-icon>minimize</mat-icon> <strong>10</strong> users</li>
                <li><mat-icon>minimize</mat-icon> Main Entities</li>
                <li><mat-icon>minimize</mat-icon> Card Boards</li>
                <li><mat-icon>minimize</mat-icon><span  class="not-available"> Forum</span></li>
                <li><mat-icon>minimize</mat-icon><span  class="not-available"> Feed</span></li>
                <li><mat-icon>minimize</mat-icon><span  class="not-available"> LMS</span></li>
                <li><mat-icon>minimize</mat-icon> Mobile App</li>
                <li><mat-icon>minimize</mat-icon> Common supports</li>  
            </ul>
            <a href="javascript:void(0)" class="read-more-btn">Read More</a>
        </div>

        <div class="pricing-card">
            <h3 class="card-pricing-header">Standard - Paid</h3>
            <div class="price">
                <sup>$</sup>2<sup>.99</sup>
                <span>USD/user/mo</span> <br>
                <span class="billing-cycle">(billed annually)</span>
            </div>
            <ul>
                <li><mat-icon>minimize</mat-icon> All basics</li>
                <li><mat-icon>minimize</mat-icon> Unlimited users</li>
                <li><mat-icon>minimize</mat-icon> Forum</li>
                <li><mat-icon>minimize</mat-icon> Feed</li>
                <li><mat-icon>minimize</mat-icon> LMS</li>
                <li><mat-icon>minimize</mat-icon> Assignments</li>
                <li><mat-icon>minimize</mat-icon> Mobile App</li>
                <li><mat-icon>minimize</mat-icon> Advanced supports</li>
            </ul>
            <a href="javascript:void(0)" class="read-more-btn">Read More</a>
        </div>
    </div>
</section>