<section class="school-root">

    <div class="side-menu">
        <mat-card>
            <mat-card-content>
                <ul>
                    <li>
                        <mat-accordion>
                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Students
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>
                                        <a mat-raised-button class="nav-link" 
                                            (click)="getSelectedtab('students')"
                                            >View all</a>
                                    </li>
                                    <li>
                                    <a mat-raised-button class="nav-link" href="javascript:void(0)">Add new</a>
                                    </li>
                                    <li>
                                    <a mat-raised-button class="nav-link" href="javascript:void(0)">Filter</a>
                                    </li>
                                </ul>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Attendances
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>
                                        <a mat-raised-button class="nav-link" (click)="getSelectedtab('attendances')">View all</a>
                                    </li>
                                    <li>
                                    <a mat-raised-button class="nav-link" href="javascript:void(0)">Add new</a>
                                    </li>
                                    <li>
                                    <a mat-raised-button class="nav-link" href="javascript:void(0)">Filter</a>
                                    </li>
                                </ul>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Exam marks
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>
                                        <a mat-raised-button class="nav-link" (click)="getSelectedtab('marks')">View all</a>
                                    </li>
                                    <li>
                                    <a mat-raised-button class="nav-link" href="javascript:void(0)">Add new</a>
                                    </li>
                                    <li>
                                    <a mat-raised-button class="nav-link" href="javascript:void(0)">Filter</a>
                                    </li>
                                </ul>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Teachers
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>
                                        <a mat-raised-button class="nav-link" (click)="getSelectedtab('teachers')">View all</a>
                                    </li>
                                    <li>
                                    <a mat-raised-button class="nav-link" href="javascript:void(0)">Add new</a>
                                    </li>
                                    <li>
                                    <a mat-raised-button class="nav-link" href="javascript:void(0)">Filter</a>
                                    </li>
                                </ul>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Parents
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>
                                        <a mat-raised-button class="nav-link" (click)="getSelectedtab('parents')">View all</a>
                                    </li>
                                    <li>
                                    <a mat-raised-button class="nav-link" href="javascript:void(0)">Add new</a>
                                    </li>
                                    <li>
                                    <a mat-raised-button class="nav-link" href="javascript:void(0)">Filter</a>
                                    </li>
                                </ul>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Courses
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>
                                        <a mat-raised-button class="nav-link" (click)="getSelectedtab('courses')">View all</a>
                                    </li>
                                    <li>
                                    <a mat-raised-button class="nav-link" href="javascript:void(0)">Add new</a>
                                    </li>
                                    <li>
                                    <a mat-raised-button class="nav-link" href="javascript:void(0)">Filter</a>
                                    </li>
                                </ul>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Grades
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>
                                        <a mat-raised-button class="nav-link" (click)="getSelectedtab('grades')">View all</a>
                                    </li>
                                    <li>
                                    <a mat-raised-button class="nav-link" href="javascript:void(0)">Add new</a>
                                    </li>
                                    <li>
                                    <a mat-raised-button class="nav-link" href="javascript:void(0)">Filter</a>
                                    </li>
                                </ul>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Terms
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>
                                        <a mat-raised-button class="nav-link" (click)="getSelectedtab('terms')">View all</a>
                                    </li>
                                    <li>
                                    <a mat-raised-button class="nav-link" href="javascript:void(0)">Add new</a>
                                    </li>
                                    <li>
                                    <a mat-raised-button class="nav-link" href="javascript:void(0)">Filter</a>
                                    </li>
                                </ul>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Academic years
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>
                                        <a mat-raised-button class="nav-link" (click)="getSelectedtab('operations')">View all</a>
                                    </li>
                                    <li>
                                    <a mat-raised-button class="nav-link" href="javascript:void(0)">Add new</a>
                                    </li>
                                    <li>
                                    <a mat-raised-button class="nav-link" href="javascript:void(0)">Filter</a>
                                    </li>
                                </ul>
                            </mat-expansion-panel>
                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Payments
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>
                                        <a mat-raised-button class="nav-link" (click)="getSelectedtab('payments')">View all</a>
                                    </li>
                                    <li>
                                    <a mat-raised-button class="nav-link" href="javascript:void(0)">Add new</a>
                                    </li>
                                    <li>
                                    <a mat-raised-button class="nav-link" href="javascript:void(0)">Filter</a>
                                    </li>
                                </ul>
                            </mat-expansion-panel>

                           <mat-expansion-panel (opened)="panelOpenState = true"
                                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Bulk actions
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>
                                        <a mat-raised-button class="nav-link" href="javascript:void(0)">Mass import</a>
                                    </li>
                                    <li>
                                    <a mat-raised-button class="nav-link" href="javascript:void(0)">Mass export</a>
                                    </li>
                                </ul>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</section>

