.school-root{
    padding-top: 50px;
    display: flex;
    background-color: #272953;
    color: white;
}

.main-content{
    padding-top: 20px !important; 
    
}
.school-root .side-menu{
    flex: 1;
    padding: 5px;
    width: 280px;
    max-width: 280px;
}

.school-root .main-content{
    padding: 5px;
    padding-right:12px;
    flex:3;
}


ul{
    list-style: none;
    padding: 0px !important;

}
ul li{
    list-style: none;
}

.side-menu mat-card{
    border-radius: 0px !important;
    background-color: #272953;
}

mat-card-content ul li{
    list-style: none;

}

mat-expansion-panel ul li{
    padding: 10px;
}


mat-expansion-panel{
    background-color: #474b7a;
}

mat-expansion-panel mat-expansion-panel-header{
    background-color: #474b7a;
    color: white;
}

mat-expansion-panel mat-expansion-panel-header:hover{
    background-color: #474b7a;
}

mat-expansion-panel mat-expansion-panel-header mat-panel-title{
    color: white;
}

mat-expansion-panel mat-expansion-panel-header:hover mat-panel-title{
    color: white;

}


mat-card-content ul li a{
    text-decoration: none;
    color: #272727;
    width: 100%;
    height: 100%;
}

mat-card-content ul li:hover{
    cursor: pointer;
}

.payment-panel-title{
    padding-top: 15px;
    padding-right: 15px;
}
.badge-pending{
    background-color: dodgerblue;
    padding: 4px;
    border-radius: 3px;
    margin-left: 5px;
    margin-bottom: 8px;
}

@media screen and (max-width:1000px){
    .school-root .side-menu{
        display: none;
    }
    .school-root .main-content{
        padding:12px;
    }
  }