 <section class="banner">
            <div class="wrap-banner" 
                fxLayout fxlayoutGap="25px" 
                fxLayoutAlign="center center" 
                fxLayout.lt-lg="column" 
                fxLayoutAlign.lt-lg="center center">

                <div class="banner-text">
                    <h1>
                        LS SMS
                    </h1>
                    <p>{{ bannerText.p }}</p>
                    <p *ngIf="onDonatePage" class="donate-message">
                        Every dollar counts to educate a future hero of global society.
                    </p>
                </div>
            </div>
 </section>

     


