<div *ngIf="isLoading" class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

<section class="password-change">
    <h1>Change password</h1>

    <div class="wrap-box">

        <p>Please enter a strong password.</p>
        <p>A strong password should: </p>
        <ul>
            <li>Have at least 8 characters.</li>
            <li>Contain special characters like: *&/.@...</li>
            <li>Contain a combination of numbers and letters</li>
        </ul>

        <app-alert-dialog *ngIf="successMessage" 
            [message]="successMessage" 
            (close)="onHandleSuccess()">
        </app-alert-dialog>

        <app-alert-dialog *ngIf="errorMessage" 
            [message]="errorMessage" 
            (close)="onHandleError()">
        </app-alert-dialog>

        <form 
            (ngSubmit)="onSubmit(f)" #f="ngForm"
            class="reset-password-form"
            >

            <mat-form-field>
            <input
                type="password"
                matInput
                placeholder="Your current password"
                name="oldPassword"
                required
                ngModel>
            <mat-hint>Please enter your current password.</mat-hint>
            <mat-error>Missing current password.</mat-error>
            </mat-form-field>

            <mat-form-field>
            <input
                type="password"
                matInput
                placeholder="Your new password"
                name="password"
                required
                ngModel>
            <mat-hint>Please enter your new password.</mat-hint>
            <mat-error>Missing new password.</mat-error>
            </mat-form-field>

            <mat-form-field>
            <input
                type="password"
                matInput
                placeholder="Retype new password"
                name="passwordConfirm"
                required
                ngModel
                >
            <mat-hint>Please enter the same new password.</mat-hint>
            <mat-error>Missing new password confirmation.</mat-error>
            </mat-form-field>

            <div class="actions">
            <button type="button" class="cancel-btn" mat-raised-button>Cancel</button> 
            <button type="submit" class="proceed-btn" [disabled] ="!f.valid || isLoading" mat-raised-button>Proceed</button> 
            </div>
        </form>
    </div>

</section>
