 <section class="banner">
        <div class="wrap-banner" fxLayout fxlayoutGap="25px" fxLayoutAlign="center center" fxLayout.lt-lg="column" fxLayoutAlign.lt-lg="center center" >
            <div class="banner-text">
                <h1>LS SMS</h1>
                <p>Affordable, Online, Secure and Scalable School Management System.</p>
                <a fxLayout="row" class="demo-btn" href="https://youtu.be/Ppa_cjxRtog" target="blank">
                <i class="material-icons">play_circle_outline</i> <span>Watch a demo</span></a>
            </div>
        </div>
 </section>

