<h1 class="title">Hi, {{loginUser.username}}. Welcome to your work station</h1>
<div class="user-dashboard">

    <div class="row1">
        <div class="duties">
            <!--<h3>Duties overview</h3>-->
            <div class="duties-badges">
                <div class="duty-badge pending-tasks">
                    <h4>6</h4>
                    <p>Pending tasks</p>
                </div>
                <div class="duty-badge todos">
                    <h4>4</h4>
                    <p>Todos</p>
                </div>
                <div class="duty-badge upcoming-events">
                    <h4>2</h4>
                    <p>Upcoming events</p>
                </div>
            </div>
        </div>
        <div class="class-stats">
            <!--<h3>Class performance overview</h3>-->
            <div class="stat-badges">
                <div class="stat-badge active-students">
                    <h4>78</h4>
                    <p>Active students</p>
                </div>
                <div class="stat-badge attendance-badge">
                    <h4>112</h4>
                    <p>Averrage attendances</p>
                </div>
                <div class="stat-badge exam-rate">
                    <h4>90%</h4>
                    <p>Exam sucess rate</p>
                </div>
            </div>
        </div>
    </div>

    <div class="tasks-list">
        <div class="title-group">  
            <h3 class="text-center">Tasks your are assigned</h3>
            <div class="underline"></div>
        </div>
        <app-tasks-list></app-tasks-list>
    </div>
    <div class="todo-list"> 
        <div class="title-group">
            <h3 class="text-center">Todo list</h3>
            <div class="underline"></div>
        </div>
        <app-todos-list></app-todos-list>
    </div> 

    <div class="calendar">
        <app-calendar></app-calendar>
    </div> 
</div>
