<section class="donate">         
    <form 
      class="charge-form" 
      id="payment-form"
      #f="ngForm"
      (ngSubmit)="onSubmit(f)"
      >
      <div class="personal-information">
        <mat-form-field>
            <mat-label>Your Fullname</mat-label>
            <input type="text" 
                matInput
                placeholder="Ex. John Doe" 
                ngModel 
                name="fullname"
                required
                #fullNameInput
                >
                <mat-error>The field is required.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" 
                matInput
                placeholder="Ex. example@domain.ext" 
                ngModel 
                name="email"
                email
                required
                #emailInput="ngModel" 
                >
                <mat-error 
                  *ngIf="!emailInput.hasError('required')">Email is invalid.
                </mat-error>

                <mat-error 
                  *ngIf="emailInput.hasError('required')">Field must not be empty.
                </mat-error>

        </mat-form-field>
        </div>

      <div class="amount">

        <mat-form-field>
            <mat-label>Choose an amount to give</mat-label>
            <mat-select ngModel matInput name="amountSelected">
                <mat-option 
                  *ngFor="let amountOption of amountOptions" 
                  [value]="amountOption.value">{{amountOption.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

      <mat-form-field>
        <mat-label>
            Custom amount
        </mat-label>
        <input 
          matInput
          type="number" 
          id="custom_amount" 
          name="customAmount" 
          min="0" 
          step="1" 
          ngModel
          placeholder="0"
          >
        </mat-form-field>
      </div>
          <label for="card-element">
                  Credit or debit card
          </label>
          <div id="card-element"classs="StripeElement StripeElement--focus">
                  <!-- A Stripe Element will be inserted here. -->
          </div>
          <!-- Used to display form errors. -->
          <div id="card-errors" role="alert"></div>

          <button type="submit" mat-raised-button class="btn-charge">Submit Donation</button>
      </form>
      <div class="engaging-message">
        <h1>Summer giving</h1>
      </div>

</section>