<app-min-banner></app-min-banner>
<section class="donate"> 
    <div class="engaging-message left">
      <div class="wrap-message">
      <p class="lead-message">Consider support our efforts!</p>
      </div>
      <img class="sad-dog-image" src="assets/images/sad-dog-and-cat.jpg" alt="sad dog">
    </div>

    <form 
      class="charge-form right" 
      id="payment-form"
      #f="ngForm"
      (ngSubmit)="createStripeToken(f)"
      >
      <h1>One time donation.</h1>
      <div class="personal-information">
        <mat-form-field>
            <mat-label>Your Fullname</mat-label>
            <input type="text" 
                matInput
                placeholder="Ex. John Doe" 
                ngModel 
                name="fullname"
                required
                #fullNameInput
                >
                <mat-error>The field is required.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" 
                matInput
                placeholder="Ex. example@domain.ext" 
                ngModel 
                name="email"
                email
                required
                #emailInput="ngModel" 
                >
                <mat-error 
                  *ngIf="!emailInput.hasError('required')">Email is invalid.
                </mat-error>

                <mat-error 
                  *ngIf="emailInput.hasError('required')">Field must not be empty.
                </mat-error>

        </mat-form-field>
        </div>

      <div class="amount">

        <mat-form-field>
            <mat-label>Choose an amount to give</mat-label>
            <mat-select ngModel matInput name="amountSelected">
                <mat-option 
                  *ngFor="let amountOption of amountOptions" 
                  [value]="amountOption.value">{{amountOption.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

      <mat-form-field>
        <mat-label>
            Custom amount
        </mat-label>
        <input 
          matInput
          type="number" 
          id="custom_amount" 
          name="customAmount" 
          min="0" 
          step="1" 
          ngModel
          placeholder="0"
          >
        </mat-form-field>
      </div>
      <div class="card-group-field">
          <label for="card-element">
                  Credit or debit card
          </label>
          <div id="card-info" #cardInfo></div>
          <!-- Used to display form errors. -->
          <div id="card-errors" role="alert"></div>
      </div>
          <div class="card-actions">
            <button type="submit" mat-raised-button class="btn-charge">Submit Donation</button>
            <mat-error id="card-errors" role="alert" *ngIf="cardError">
                <mat-icon style="color: #f44336">cancel</mat-icon>
                    &nbsp;{{ cardError }}
            </mat-error>
          </div>
      </form>


</section>

<app-footer></app-footer>