.classroom-moderator{
    text-align: left;
    z-index: 1;
    background-color: white;
    box-shadow: 0 0 0 0 !important;
    margin-bottom: 25px;
    color: black;
    transition: ease-in-out .3s;
    padding: 8px !important;

}

.classroom-moderator:hover{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5) !important;
    
}
.header-image {
    background-size: cover;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
  }
