.course-card{
    text-align: center;
    z-index: 1;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 0 0 0 !important;
    color: #000;
    transition: ease-in-out .3s;
    padding: 0px !important;
}

.course-card:hover{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5) !important;
    
}

.course-card mat-card-actions{
    text-align: left;

}

.course-image{
    background-size: cover;
    height: 225px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.underline{
    content: "";
    width: 70px;
    border: 2px solid dodgerblue;
    margin-top:-20px;
    margin-left: 4px;

}


.course-description{
    text-align: left;
    padding: 14px;
    position: absolute;
    top: 0;
    left: 0;
    
}

.course-desc-p{
    margin-top: -12px;
}

.course-title{
    font-size: 16PX;
    font-weight: 600;
}

.course-action{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px;
}

.launch-course-btn{
    background-color: dodgerblue;
    color:white;
}
