    <h1 mat-dialog-title>Hi, {{loginUser.username}}. <br> Help us keep our community clean and safe for everyone.</h1>
    <p>Please tell us why we need to care about that post you are reporting. You report will be confidential.</p>
    <div mat-dialog-content>
        <div class="post-report-form">
          <mat-card>
            <mat-card-content>
                        <form class="post-form" (ngSubmit)="onSubmitPostReport(f)" #f="ngForm" #form>
                        <div class="form-row">
                            <mat-checkbox  class="checkbox" ngModel name="racism" required>Racism</mat-checkbox>
                            <mat-checkbox  class="checkbox" ngModel name="bullying" required>Bulliying</mat-checkbox>
                            <mat-checkbox  class="checkbox" ngModel name="violence" required>Violence</mat-checkbox>
                            <mat-checkbox  class="checkbox" ngModel name="unauthorized_publish" required>Unauthorized publication</mat-checkbox>
                            <mat-checkbox  class="checkbox" ngModel name="hate_speech" required>Hate speech</mat-checkbox>
                            <mat-checkbox  class="checkbox" ngModel name="nudity_or_sexual_content" required>Nudity/Sexual content</mat-checkbox>
                            <mat-checkbox  class="checkbox" ngModel name="harassment" required>Harassment</mat-checkbox>
                            <mat-checkbox  class="checkbox" ngModel name="fake_news" required>Fake news</mat-checkbox>
                            <mat-checkbox  class="checkbox" ngModel name="spam" required>Spam</mat-checkbox>
                            <mat-checkbox  class="checkbox" ngModel name="something_else" required>Somethin else</mat-checkbox>
                        </div>
                        <mat-form-field class="post-full-width">
                                <mat-label>Tell us more</mat-label>
                                <textarea id="post-report-content" onclick="rezizable('post-report-content')" class="post-content" name="detail" ngModel matInput placeholder="Ex. It appears to me that..."></textarea>
                        </mat-form-field>
                        <button class="publish" mat-raised-button type="submit">Report</button>
                        </form>
            </mat-card-content>
          </mat-card>
        </div>
    </div>
