/* You can add global styles to this file, and also import other style files */
html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

  /*
  .mat-form-field-infix{
  }

  .mat-form-field-appearance-legacy{
  }
  .mat-form-field-ripple{
      
  }
*/
.mat-form-field-underline{
    background-color: #0ec54e !important;
}

.ql-editing{
    z-index: 2 !important;
}

.cal-cell{
  color: #010101;
}
.cal-month-view{
  background-color: rgba(255, 255, 255, 0.1);
}

