<section id="about" class="about-box" 
    fxLayout.lt-lg="column" 
    fxLayoutAlign.lt-lg="center center" 
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="20px"
    >
    <div class="about" fxLayout="column" fxLayoutAlign="center center">
        <h1>About Us</h1>
        <div class="underline"></div>
        <p>LS SMS offers you an Online, Secure, Scalable and Affortable Cloud Based Softawere to manage your schools and entities.</p>
        
        <div class="about-row" fxLayout="column" fxLayoutGap="25px" fxLayoutAlign="center center">
            
                <h3>What we do?</h3>
                <a href="https://youtu.be/Ppa_cjxRtog" target="blank" class="demo-btn2">
                    <mat-icon>play_circle_outline</mat-icon> 
                    <span>Watch a demo</span>
                </a>

            <div class="services" fxLayoutGap="25px" 
                fxLayout="row wrap"
                fxLayoutAlign="center center"
                fxLayoutGap ="25px"
                fxLayoutGap.xs="15px" 
                fxLayout.xs="column">
                <mat-card class="services-card">  
                    <a class="serive-link">
                        <span class="material-icons serices-card-icons">person_add_alt_1</span>
                    </a>
                    <h3>
                        <mat-card-title>  
                            Attendances
                        </mat-card-title>
                    </h3>
                    <mat-card-content>
                        <p>
                            Use the web or the mobile app to record easly attendances of your students. <a class="learn-more" href="javascript:void(0)">Learn more</a>
                        </p>
                    </mat-card-content>
                </mat-card>

                <mat-card class="services-card">  
                    <a class="serive-link">
                        <span class="material-icons serices-card-icons">grading</span>
                    </a>
                    <h3>
                        <mat-card-title>  
                            Card Board
                        </mat-card-title>
                    </h3>
                    <mat-card-content>
                        <p>
                            Use the web or the mobile app to record easly attendances of your students. <a class="learn-more" href="javascript:void(0)">Learn more</a>
                        </p>
                    </mat-card-content>
                </mat-card>

                <mat-card class="services-card">  
                    <a class="serive-link">
                        <span class="material-icons serices-card-icons">assessment</span>
                    </a>
                    <h3>
                        <mat-card-title>  
                            Exam Marks
                        </mat-card-title>
                    </h3>
                    <mat-card-content>
                        <p>
                            Use the web or the mobile app to record easly attendances of your students. <a class="learn-more"  href="javascript:void(0)">Learn more</a>
                        </p>
                    </mat-card-content>
                </mat-card>
                

                    <mat-card class="services-card">  
                    <span class="material-icons serices-card-icons">payments</span>
                    <h3>
                        <mat-card-title>  
                            Academic Fees
                        </mat-card-title>
                    </h3>
                    <mat-card-content>
                        <p>
                            Use the web or the mobile app to record easly attendances of your students. <a class="learn-more" href="javascript:void(0)">Learn more</a>
                        </p>
                    </mat-card-content>
                </mat-card>

                <mat-card class="services-card">  
                    <span class="material-icons serices-card-icons">escalator_warning</span>
                    <h3>
                        <mat-card-title>  
                            Parents
                        </mat-card-title>
                    </h3>
                    <mat-card-content>
                        <p>
                            Use the web or the mobile app to record easly attendances of your students. <a class="learn-more"  href="javascript:void(0)">Learn more</a>
                        </p>
                    </mat-card-content>
                </mat-card>

                <mat-card class="services-card">  
                    <span class="material-icons serices-card-icons">dynamic_feed</span>
                    <h3>
                        <mat-card-title>  
                            Collaborative Feed
                        </mat-card-title>
                    </h3>
                    <mat-card-content>
                        <p>
                            Use the web or the mobile app to record easly attendances of your students. <a class="learn-more"  href="javascript:void(0)">Learn more</a>
                        </p>
                    </mat-card-content>
                </mat-card>

                <mat-card class="services-card">  
                    <span class="material-icons serices-card-icons">poll</span>
                    <h3>
                        <mat-card-title>  
                            Poll
                        </mat-card-title>
                    </h3>
                    <mat-card-content>
                        <p>
                            Use the web or the mobile app to record easly attendances of your students. <a class="learn-more"  href="javascript:void(0)">Learn more</a>
                        </p>
                    </mat-card-content>
                </mat-card>

                <mat-card class="services-card">  
                    <span class="material-icons serices-card-icons">forum</span>
                    <h3>
                        <mat-card-title>  
                            Private forums
                        </mat-card-title>
                    </h3>
                    <mat-card-content>
                        <p>
                            Use the web or the mobile app to record easly attendances of your students. <a class="learn-more"  href="javascript:void(0)">Learn more</a>
                        </p>
                    </mat-card-content>
                </mat-card>

                <mat-card class="services-card">  
                    <span class="material-icons serices-card-icons">api</span>
                    <h3>
                        <mat-card-title>  
                            Api
                        </mat-card-title>
                    </h3>
                    <mat-card-content>
                        <p>
                            Use the web or the mobile app to record easly attendances of your students. <a class="learn-more"  href="javascript:void(0)">Learn more</a>
                        </p>
                    </mat-card-content>
                </mat-card>

                <mat-card class="services-card">  
                    <span class="material-icons serices-card-icons">smartphone</span>
                    <h3>
                        <mat-card-title>  
                            Mobile Apps
                        </mat-card-title>
                    </h3>
                    <mat-card-content>
                        <p>
                            Use the web or the mobile app to record easly attendances of your students. <a class="learn-more"  href="javascript:void(0)">Learn more</a>
                        </p>
                    </mat-card-content>
                </mat-card>

                <mat-card class="services-card">  
                    <span class="material-icons serices-card-icons">wifi_off</span>
                    <h3>
                        <mat-card-title>  
                            Off-collect
                        </mat-card-title>
                    </h3>
                    <mat-card-content>
                        <p>
                            Use the web or the mobile app to record easly attendances of your students. <a class="learn-more"  href="javascript:void(0)">Learn more</a>
                        </p>
                    </mat-card-content>
                </mat-card>

            </div>
        </div>
    </div>
</section>
