<section class="about-box" 
    fxLayout.lt-lg="column" 
    fxLayoutAlign.lt-lg="center center" 
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="20px"
    >
    <div class="about" fxLayout="column" fxLayoutAlign="center center">
        <h1>About Us</h1>
        <p>LS SMS offers you an Online, Secure, Scalable and Affortable Cloud Based Softawere to manage your schools and entities.</p>
        
        <div class="about-row" fxLayout="column" fxLayoutAlign="center center">
            <h2>What can we help you with?</h2>
            <div class="services" fxLayoutGap="25px" fxLayout="row">
                <mat-card class="services-card">  
                    <span class="material-icons serices-card-icons">done_outline</span>
                    <h3>
                        <mat-card-title>  
                            Attendances
                        </mat-card-title>
                    </h3>
                    <mat-card-content>
                        <p>
                            Use the web or the mobile app to record easly attendances of your students.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                            <button mat-raised-button color="accent">Read more</button>
                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
    
    
    </div>


</section>
