        <div class="publish-form">
            <mat-card>
            <mat-card-content>
                        <form enctype="multipart/form-data" class="post-form" (ngSubmit)="onSubmitPost(f)" #f="ngForm" #form>
                        
                        <mat-form-field class="full-width">
                            <mat-label>Question headline</mat-label>
                            <input type="text" placeholder="What's your question about?" matInput [ngModel] = "topic.title" name="title" required>
                        </mat-form-field>

                        <mat-form-field class="chip-list">
                            <mat-chip-list #chipList aria-label="Category selection">
                                <mat-chip
                                *ngFor="let category of categories"
                                [selectable]="selectable"
                                [removable]="removable"
                                (removed)="remove(category)">
                                {{category}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input
                                placeholder="Select category"
                                #categoryInput
                                [formControl]="categoryCtrl"
                                [matAutocomplete]="auto"
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                (matChipInputTokenEnd)="add($event)"
                                >
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                                {{category}}
                                </mat-option>
                            </mat-autocomplete>
                            </mat-form-field>
                            <input type="hidden" [ngModel] = "topic.id" name="topic_id">

                        <quill-editor (onEditorCreated)="onEditorCreated($event)" id="editor" [styles]="{height: '150px'}" name="content" [ngModel]="topic.content"></quill-editor>
                        
                            <button class="discard" mat-raised-button type="button">Discard</button>
                            <button class="publish" mat-raised-button type="submit">Update</button>
                        </form>

            </mat-card-content>
          </mat-card>
        </div>
