.header-image {
    background-size: cover;
    /*style="background-image: url({{topic.user.profile_image}})";*/
  }

.question-card{
    margin-top: 12px;
}

.question-content{
    overflow-x: hidden;
}

.question-content:hover{
    overflow-x: auto;
}

.question-stat{
    display:flex;
    padding:6px;
}

.question-stat span{
    font-size: 12px;
    margin-right: 20px;
}
.question-stat span:last-child{
    margin-right: 0px;
}

.did_like{
    color: dodgerblue;
}

.did_down_like{
    color: dodgerblue;
}

.general-icon{
    color: #606060;
}

.remove{
    display: none;
}

.avatar-xs-card-comment{
    border-radius: 100%;
    height: 40px;
    width: 40px; 
}

.comment-thread{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.comment-thread .inner-comment-thread{
    margin-left: 50px;
}
.comment-thread .comment-box{
    padding: 5px;
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.comment-thread .comment-box .comment-content-box{
    flex:2;
    display: flex;
    flex-direction: row;

}

.comment-thread .comment-box .comment-content-box .comment-text{
    flex:2;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 4px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.comment-thread .comment-box .comment-content-box .comment-text:hover{
    overflow-x: auto;
}

.hide{
    display:none;
  }


.comment-box .comment-reply-form-handler{
    margin-top: 10px !important;
    background-color: white;
    margin-left: 50px;
}

.comment-box .comment-actions{
    display: flex;
    margin-left: 40px;
}

.comment-actions-row{
    margin-top: 12px;
}

.comment-box .comment-actions button{
    margin-right: 15px;
}

.comment-user{
  font-weight: 570;  
}
.comment-box .comment-actions button:last-child{
    margin-right: 0px;
}

.comment-thread .comment-box:last-child{
    margin-bottom: 0px;
}

.comment-thread .comment-box .comment-user-avatar{
    margin-right: 15px;
    min-height: 50px;
}

.comment-thread .comment-box .comment-text{
    padding: 0px;
    overflow-x: hidden;
}

.comment-thread .comment-box .comment-text:hover{
    overflow-x: auto;
}

.topic-content{
    overflow-x: hidden;
}

.topic-content:hover{
    overflow-x: auto;
}

mat-card-header{
    position: relative;
}
.post-sub-menu{
    margin-top: 8px;
    position: absolute;
    right:0px;
    top:0px;
}

.comment-form{
    margin-bottom: 15px;
}
.comment-form .form-row{
    display: flex;
    flex-direction: row;
    padding: 6px;
}

a{
    text-decoration: none;
}
.comment-form .form-row .comment-user-avatar {
    margin-right: 15px;
}
.comment-form .form-row .comment-input{
    border-radius: 6px !important;
    border: 1px solid #f1f1f1;
    flex: 2;
}

.comment-form-content-box{
    width: 100%;
}

.post-comment{
    background-color: dodgerblue;
    height: 36px;
    max-height: 36px !important;
    color: white;
    width: 40px;
    max-width: 40px !important;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 6px;
    cursor: pointer;
    margin-left: 62px;

}

span.counter{
    margin-left: 5px;
}

.general-icon{
    color: #606060;
}

.quill-view{
    display: flex;
    width: 100%;
}

.comment-text-header{
    position: relative;
}
.comment-sub-menu{
    position: absolute;
    top:-5px;
    right: 0;
}

.fadeIn {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}



@media screen and (max-width: 500px){
    .comment-thread .inner-comment-thread{
        margin-left: 0px;
    }
    .comment-box .comment-reply-form-handler{
        margin-left: 0px;
    }
}
