.header-image {
    background-size: cover;
    /*style="background-image: url({{topic.user.profile_image}})";*/
  }

.question-card{
    margin-top: 12px;
}

.question-content{
    overflow-x: hidden;
}

.question-content:hover{
    overflow-x: auto;
}

.question-stat{
    display:flex;
    padding:6px;
}

.question-stat span{
    font-size: 12px;
    margin-right: 20px;
}
.question-stat span:last-child{
    margin-right: 0px;
}

.did_like{
    color: dodgerblue;
}
