        <div class="following-suggestions">
        
        <mat-card>
        <h3>Colleagues you may want to follow</h3>

        <div *ngIf="usersList">
        <mat-card-header>
            <div mat-card-avatar>
                <img class="avatar-xs-card" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            </div>
            <mat-card-title>Wisner Celucus</mat-card-title>
            <mat-card-subtitle>Developer</mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions>
            <a mat-raised-button class="follow-btn" href="javascript:void(0)">Follow</a>
        </mat-card-actions>

        <mat-card-header>
            <div mat-card-avatar>
                <img class="avatar-xs-card" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            </div>
            <mat-card-title>Wisner Celucus</mat-card-title>
            <mat-card-subtitle>Developer</mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions>
            <a mat-raised-button class="follow-btn" href="javascript:void(0)">Follow</a>
        </mat-card-actions>
        </div>
        <div *ngIf="!usersList">
            <p>No user suggestions for now.</p>
        </div>

        </mat-card>
        </div>
